<alb-body>  
  <form [formGroup]="form">
    <alb-tab-group (selectedTabChange)="onTrocarTab($event)">
       <alb-tab label="{{ 'tabs.parametrosGeral' | t }}" *segFuncao="seg.PAR_TAB_PARAMETRO_GERAL"
                [track]="seg.PAR_TAB_PARAMETRO_GERAL" [id]="tab_geral">
         <ng-template albTabBodyWrapper>
           <div class="content" style="background-color: white">
             <alb-body>
               <div class="alb-divisor --two">
                 <div class="width-50">
                   <alb-input [placeholder]="'campo.dataAtual' | t" formControlName="dataAtual" disabled></alb-input>                  
                 </div>
                 <div class="width-50">
                   <app-entidade-dropdown [placeholder]="'campo.entidadeParticipante' | t" formControlName="entidadeParticipante" [idSelecionado]="controls.entidadeParticipante.value" [clearable]="true">
                   </app-entidade-dropdown>
                 </div> 
                 <div class="width-50">
                   <alb-box [title]="'campo.ambiente' | t" formview>
                     <alb-radio-group formControlName="ambiente" #ambiente>
                       <alb-radio-button value="1" [checked]="controls.ambiente.value == 1 ? true : false"> {{ "campo.homologacao" | t }} </alb-radio-button>
                       <alb-radio-button value="2" [checked]="controls.ambiente.value == 2 ? true : false">{{ "campo.producao" | t }} </alb-radio-button>
                     </alb-radio-group>
                   </alb-box>
                 </div> 
                 <div class="width-50">
                  <alb-number [placeholder]="'campo.parametrosQtdMaxBol' | t" formControlName="qtdMaxRegBol"
                  [decimal]="false" [length]="13"></alb-number>
                  </div>                              
                 <div class="width-50" style="margin-top: 16px;">
                   <alb-slide-toggle [label]="'campo.parametrosExibeConfirmacaoSalvaBoleto' | t"
                     formControlName="exibeConfSalvaBoleto">
                   </alb-slide-toggle>
                 </div>
                 <div class="width-100" style="margin-top: 16px;"> 
                   <alb-slide-toggle [label]="'campo.grupo_possui_indireto' | t"
                     formControlName="partPossuiIndireto">
                   </alb-slide-toggle>  
                 </div>       
                 <div class="width-100" style="margin-top: 16px;"> 
                  <alb-slide-toggle [label]="'campo.redirecionarLogin' | t"
                    formControlName="flagControleSessao">
                  </alb-slide-toggle>  
                </div>            
               </div>
             </alb-body>
           </div>
         </ng-template>
       </alb-tab>
       <alb-tab label="{{ 'tabs.parametrosControleContaPi' | t }}" *segFuncao="seg.PAR_TAB_CONTROLE_CONTA_PI"
                 [track]="seg.PAR_TAB_CONTROLE_CONTA_PI" [id]="tab_geral">
         <ng-template albTabBodyWrapper>
           <div class="content" style="background-color: white">
             <alb-body>
               <div class="alb-divisor --two">
                 <alb-number [placeholder]="'campo.parametrosSaldoIdeal' | t" formControlName="saldoIdeal"
                   [decimal]="true" decimalLength="2"></alb-number>
                 <alb-number [placeholder]="'campo.parametrosPercentualMinimo' | t" formControlName="percMin"
                   [decimal]="true" decimalLength="2"></alb-number>
                 <alb-number [placeholder]="'campo.parametrosPercentualMaximo' | t" formControlName="percMax"
                   [decimal]="true" decimalLength="2"></alb-number>
                 <alb-input [placeholder]="'campo.parametrosCampoSaldo' | t" formControlName="campoSaldo"></alb-input>
                 <alb-number [placeholder]="'campo.parametrosMinutosEnvioAlarme' | t" formControlName="qtdMnuItvEnvAla"
                   [decimal]="false" [length]="3"></alb-number>
                 <alb-slide-toggle [label]="'campo.parametrosRealizacaoAutomatica' | t"
                   formControlName="realizacaoAutomatica">
                 </alb-slide-toggle>
                 <alb-slide-toggle [label]="'campo.parametrosGeraConsultasaldoAutomatica' | t"
                   formControlName="geraConsultaSaldoAutomatico">
                 </alb-slide-toggle>
                 <alb-number [placeholder]="'campo.parametrosMinutosConsultaSaldo' | t" formControlName="qtdMnuItvCsuSdo"
                   [decimal]="false" [length]="3"></alb-number>
               </div>
             </alb-body>
           </div>
         </ng-template>
       </alb-tab>  
       <alb-tab label="{{ 'tabs.parametrosIntegracaoSTA' | t }}" *segFuncao="seg.PAR_TAB_CONEXOES_EXTERNAS"
                [track]="seg.PAR_TAB_CONEXOES_EXTERNAS" [id]="tab_geral">
         <ng-template albTabBodyWrapper>
           <alb-box title="STA" fomrview>
             <div class="content" style="background-color: white">
               <alb-body>
                 <alb-slide-toggle label="Envio de Arquivo STA" formControlName="flgEnvArqSta"
                   (change)="setRequired($event)"></alb-slide-toggle>
                 <div class="alb-divisor --two">
                   <alb-input [placeholder]="'campo.parametrosUsuarioSTA' | t" *segFuncao="seg.PAR_DADOS_ACESSO_STA"
                     [track]="seg.PAR_DADOS_ACESSO_STA" formControlName="usuarioPSTA"></alb-input>
                   <alb-input [placeholder]="'campo.parametrosSenhaSTA' | t" *segFuncao="seg.PAR_DADOS_ACESSO_STA"
                     [track]="seg.PAR_DADOS_ACESSO_STA" formControlName="senhaPSTA" type="password"></alb-input>
                   <span style="color: red">{{'mensagem.mensagemAvisoSenhaSTA' | t}}</span>
                   <ng-select class="alb-ng-select" [items]="diaUtil" placeholder="Dia útil" bindValue="value"
                     bindLabel="label" formControlName="diaEnvArqSta">
                   </ng-select>
                   <alb-input [placeholder]="'campo.urlFrontOrquestrador' | t" *segFuncao="seg.PAR_URL_ORQUESTRADOR"
                   [track]="seg.PAR_URL_ORQUESTRADOR" formControlName="urlFrtOrq"></alb-input>
                 </div>
               </alb-body>
             </div>
           </alb-box>
         </ng-template>
       </alb-tab>
       <alb-tab label="{{'tabs.webhook' | t}}" *segFuncao="seg.PAR_TAB_PARAMETRO_GERAL" 
           [track]="seg.PAR_TAB_PARAMETRO_GERAL" [id]="tab_geral">
           <ng-template albTabBodyWrapper>
            <div class="content" style="background-color: white">
              <alb-body>
                <div class="alb-divisor">
                  <alb-number class="width-40" 
                      [placeholder]="'campo.tempocallbackwebhook' | t"
                      formControlName="tempoCallBackWebhook"
                      [decimal]="false"
                      [length]="4">
                  </alb-number>
                  <alb-number class="width-40"
                      [placeholder]="'campo.tempointervaloexecucaocallbackwebhook' | t"
                      formControlName="intervaloCallBackWebhook" 
                      [decimal]="false"
                      [length]="4">
                  </alb-number>
              </div>
              </alb-body>
            </div>
           </ng-template>
       </alb-tab>
        <alb-tab label="{{ 'tabs.parametrosLimitacaoEnvio' | t }}" *segFuncao="seg.PAR_TAB_PARAMETRO_GERAL" 
                [track]="seg.PAR_TAB_PARAMETRO_GERAL" [id]="tab_transacao_agendada">
            <ng-template albTabBodyWrapper>
              <div class="content" style="background-color: white">
                <alb-body>
                  <form [formGroup]="formtrasacaoAgendada">
                    <div class="alb-divisor">
                      <alb-input class="width-30" [placeholder]="'campo.horarioinicioLiq' | t" formControlName="horIniEnvLiq" [mask]="{mask: '00:00:00'}" ></alb-input>
                      <alb-input class="width-30" [placeholder]="'campo.horarioFechamentoLiq' | t" formControlName="horFimEnvLiq" [mask]="{mask: '00:00:00'}"></alb-input>
                      <alb-number class="width-15" [placeholder]="'campo.quantidade' | t" formControlName="qtdLimTrnSgo" [decimal]="false" [length]="10" ></alb-number>
                      <div  class="width-20">
                        <button style="margin-top: 10px" type="button" alb-button type="secondary"
                        (click)="inserir()" [disabled]="formtrasacaoAgendada?.invalid">
                        {{'botao.inserir' | t}}</button>
                      </div>
                    </div>
                  </form>
                  <app-parametro-transacaoagendada
                    [listaTransacaoAgendada]="trasacaoAgendadas"
                    [parametrosgerais]="parametrosgerais"
                    (listaTransacaoAgendadaAtualizada)="receiverList($event)"
                    (ListaDeletada)="deletarList($event)"
                    >
                  </app-parametro-transacaoagendada>
                </alb-body>
              </div>
            </ng-template>
        </alb-tab>
        <alb-tab label="{{ 'tabs.parametrosCertificadoDigital' | t }}" *segFuncao="seg.PAR_TAB_CERTIFICADO_DIGITAL"
                 [track]="seg.PAR_TAB_CERTIFICADO_DIGITAL" [id]="tab_geral" >
          <ng-template albTabBodyWrapper>
            <div class="content" style="background-color: white">
              <alb-body>
                <div>
                  <div class="alb-divisor --two width-50">
                    <app-certificadora-digital-dropdown [placeholder]="'campo.certificadoraDigital' | t" formControlName="certificadoraDigitalId" [idSelecionado]="controls.certificadoraDigitalId.value" [clearable]="true">
                    </app-certificadora-digital-dropdown>
                  </div>
                  <div class="selecione" *ngIf="controls.certificadoraDigitalId.value !== 1">
                    <div class="alb-divisor --two">
                      <alb-input [placeholder]="'campo.clientId' | t" formControlName="certificadoraDigitalIdCliente"></alb-input>
                      <alb-input [placeholder]="'campo.clientSecret' | t" type="password" formControlName="certificadoraDigitalSenhaCliente">
                      </alb-input>
                      <span style="color: red">{{'mensagem.mensagemAvisoSenhaCertificadora' | t}}</span>
                    </div>
                  </div>
                  <div class="alb-divisor --two">
                    <alb-input [placeholder]="'campo.parametrosHorEnvioAlarme' | t" formControlName="horNtfVctCerDgl"
                    [mask]="{mask: '00:00'}"></alb-input>
                 <alb-number [placeholder]="'campo.parametrosDiasAntEnvioAlarme' | t" formControlName="diaAtdNtfVctCerDgl"
                   [decimal]="false" [length]="3"></alb-number>
                  </div>
                  <button alb-button type="secondary" (click)="gerenciarContato()"><i class="alb-icon">settings</i>Gerenciar email</button>
                </div>
              </alb-body>
            </div>
          </ng-template>
       </alb-tab>
    </alb-tab-group>
    <div style="display: flex; justify-content: end; padding-top: 24px">
      <button alb-button [disabled]="form.invalid" (click)="onSave()" *segFuncao="seg.PAR_BTN_SALVAR"
        [track]="seg.PAR_BTN_SALVAR" [hidden]="tab_selected == tab_transacao_agendada">
        {{ "botao.salvar" | t }}
      </button>
    </div>
  </form>
</alb-body>