<alb-body>
  <h1 alb-drawer-title>{{ 'titulo.avisoLiberacaoBloqueioDrawer' | t }}</h1>

  <alb-box *ngFor="let transacao of transacoes">
    <div class="alb-divisor --two">
      <div class="label">
        <span>{{'campo.composicaoOperacao' | t}}</span>
        <span>{{transacao?.composicaoOperacao}}</span>
      </div>

      <div class="label">
        <span>{{'campo.evento' | t}}</span>
        <span>{{transacao?.evento}}</span>
      </div>

      <div class="label">
        <span>{{'campo.valor' | t}}</span>
        <span>{{transacao?.valor | valorFinanceiro}}</span>
      </div>
    </div>
    <div class="alb-divisor --one">
      <div class="label">
        <span>{{'campo.erro' | t}}</span>
        <span>{{transacao?.informacaoErro}}</span>
      </div>
    </div>
  </alb-box>
</alb-body>
