<alb-body *segFuncao="seg.NVL_MENU">
  <h1 alb-drawer-title>{{ "nivelHierarquico.titulo.edicao" | t }}</h1>
  <app-drawer-content>
    <form [formGroup]="formData">
      <div class="alb-divisor">
        <div class="width-100">
          <alb-input
            [placeholder]="'nivelHierarquico.campo.codigo' | t"
            [value]="edit?.codNivHie"
            readonly
          >
          </alb-input>

          <alb-input
            [placeholder]="'nivelHierarquico.campo.nivelHierarquico' | t"
            formControlName="nivel"
            pattern="^[0-9.]*"
            maxLength="5"
            (keypress)="keyPress($event)"
          >
          </alb-input>
          <div class="error" *ngIf="controls.nivel.errors?.pattern">
            {{'seg.mensagem.caracterinvalido_codigo_grupo' | t}}
          </div>
        </div>
      </div>
      <div style="display: flex; justify-content: end; padding-top: 24px">
        <button
          alb-button
          type="primary"
          (click)="editarNivelHierarquico()"
          [disabled]="formData.invalid"
          *segFuncao="seg.NVL_BTN_EDITAR"
          [track]="seg.NVL_BTN_EDITAR"
          >
          {{ "botao.salvar" | t }}
        </button>
      </div>
    </form>
  </app-drawer-content>
</alb-body>
