<alb-body *segFuncao="seg.APU_MENU">
  <h1>{{ "titulo.apuracaoDadosInformesBacen" | t }}</h1>
  <alb-accordion
    icon="filter_list"
    [open]="true"
    [title]="'titulo.pesquisar' | t"
  >
    <form [formGroup]="filtroForm">
      <div class="alb-divisor">
        <div class="width-60">
          <ng-select
            [placeholder]="'campo.mes' | t"
            class="alb-ng-select"
            formControlName="mes"
          >
            <ng-option *ngFor="let el of mesesList" [value]="el">{{
              el | mesesDoAno
            }}</ng-option>
          </ng-select>
        </div>
        <div class="width-40">
          <alb-input
            [placeholder]="'campo.ano' | t"
            [maxLength]="4"
            [mask]="{ mask: '0000' }"
            formControlName="ano"
          >
          </alb-input>
        </div>
      </div>
      <div class="aside-accordion">
        <button
          alb-button
          color="primary"
          (click)="onPesquisar()"
          color="accent"
          [disabled]="filtroForm.invalid"
        >
          {{ "botao.pesquisar" | t }}
        </button>
      </div>
    </form>
  </alb-accordion>

  <alb-tab-group class="white" (selectedTabChange)="onTrocarTab($event)">
    <alb-tab
      [label]="'tabs.spi' | t"
      [id]="apuracaoTemproProcessamentoTipo.ANALITICO"
    >
      <ng-template albTabBodyWrapper>
        <app-apuracao-dados-informes-bacen-lista-analitico
          [filtro]="filtro$ | async"
        >
        </app-apuracao-dados-informes-bacen-lista-analitico>
      </ng-template>
    </alb-tab>
    <alb-tab
      [label]="'tabs.dict' | t"
      [id]="apuracaoTemproProcessamentoTipo.SINTETICO"
    >
      <ng-template albTabBodyWrapper>
        <app-apuracao-dados-informes-bacen-lista-sintetico
          [filtro]="filtro$ | async"
        >
        </app-apuracao-dados-informes-bacen-lista-sintetico>
      </ng-template>
    </alb-tab>
    <alb-tab [label]="'tabs.bloqueio' | t" [id]="apuracaoTemproProcessamentoTipo.BLOQUEIO">
      <ng-template albTabBodyWrapper>
        <app-apuracao-dados-informes-bacen-lista-bloqueio [filtro]="filtro$ | async">
        </app-apuracao-dados-informes-bacen-lista-bloqueio>
      </ng-template>
    </alb-tab>
    <alb-tab [label]="'tabs.disponibilidade' | t" [id]="apuracaoTemproProcessamentoTipo.DISPONIBILIDADE">
      <ng-template albTabBodyWrapper>
        <app-apuracao-dados-informes-bacen-lista-disponibilidade [filtro]="filtro$ | async">
        </app-apuracao-dados-informes-bacen-lista-disponibilidade>
      </ng-template>
    </alb-tab>

    <div aside class="acoes">
      <button
        class="divisor-button"
        alb-button-icon
        icon="print"
        (click)="onExportar()"
      ></button>
      <button
        alb-button
        type="secondary"
        class="divisor-button"
        (click)="onImportar()"
        *segFuncao="seg.APU_BTN_IMPORTAR"
        [track]="seg.APU_BTN_IMPORTAR"
      >
        {{ "botao.importar" | t }}
      </button>
      <button
        alb-button
        type="primary"
        class="divisor-button"
        (click)="onGerar()"
        *segFuncao="seg.APU_BTN_GERAR"
        [track]="seg.APU_BTN_GERAR"
      >
        {{ "botao.gerar" | t }}
      </button>
    </div>
  </alb-tab-group>
</alb-body>
