.dashboard-header-title {
  margin-left: 16px;
}

// i::before
.dashboard-refresh-control__refresh i {
  animation-name: girar;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes girar {
  from {
    transform: rotate(0eg);
  }
  to {
    transform: rotate(360deg);
  }
}
