
@import './theming';
$foreground: map-get($sq-theme, foreground);

.list-detail-custom {
  $background-default: #f1f1f1;
  $background-itemSelected: #484b50;

  .size-show-item-detail {
    max-height: 45vh;
    min-width: 200px;
  }
  .align-input-view {
    padding-top: 12px;
  }
  .item-selecionado {
    padding-top: 3px;
  }
  .subtitle {
    font-size: 0.7rem;
    color: mat-color($foreground, secondary-text);
    padding: 10px 0px;
    border-bottom: 1px solid mat-color($sq-foreground, divider);
    font-weight: bold;
    margin: 10px;
  }

  .item-detail {
    max-height: 40vh;
    min-width: 200px;
    margin: 1px;
    padding: 5px;
    padding-right: 0px;
    background-color: $white-1;
    border: 1px solid $background-default;
    &:hover {
      background-color: $background-default;
      border: 1px solid black;
      cursor: pointer;
    };
    &.--item-detail-select {
      background-color: $background-default;
      border: 1px solid black;
    }
  }

  .item-file-detail {
    padding: 5px;
    padding-right: 0px;
    background-color: $white-1;
    max-height: 40vh;
    min-width: 200px;
    .file-active {
      margin: 1px;
      padding: 5px;
      &:hover{
        background-color: $background-itemSelected;
        color: $white-1;
        border-radius: 3px;
        cursor: pointer;
      }
    }
    .--file-item-select {
      background-color: $background-itemSelected;
      color: $white-1;
      border-radius: 3px;
    }

    .icon-file-active {
      padding-right:0px;
      text-align: right;
      width:7%
    }
  }
}
