@mixin table-paginator($theme) {

  // Paginable dropdown
  p-paginator {
    .ui-paginator {
      display: flex;
      flex-direction: row;
      border: 0;

      .ui-paginator-element {
        border-radius: 50%;
      }

      .ui-paginator-first {
        order: 2;
      }

      .ui-paginator-prev {
        order: 3;
      }

      .ui-paginator-pages {
        line-height: 1.5em;
        order: 4;
      }

      .ui-paginator-next {
        order: 5;
      }

      .ui-paginator-last {
        order: 6
      }

      p-dropdown {
        order: 1;
        margin-right: 20px;
      }
    }
  }

  p-dropdown {
    .ui-dropdown-label {
      font-size: 11px;
    }

    .ui-dropdown-trigger-icon{
      font-family: 'materialicons';
      font-style: normal;
      font-weight: 400;

      &:before{
        content: "\e90e";
      }
    }
  }
}

@include table-paginator($sq-theme);
