.--text-yellow {
  color: #f2a916 !important;
}
.--text-blue {
  color: #1f7fec !important;
}
th input {
  max-width: 100%;
}

th input:focus {
  outline: -webkit-focus-ring-color auto 1px;
  color: initial;
}

.sq-col-dt {
  width: 150px;
}

.sq-col-agencia {
  width: 50px;
}

.sq-col-conta {
  width: 100px;
}