<p-table
  class="alb-table"
  [sq-data-source]="ds"
  rowHover="true"
  [scrollable]="true"
  [paginator]="true"
>
  <ng-template pTemplate="header">
    <tr>
      <th>{{ "campo.dictSistemaOrigem" | t }}</th>
      <th>{{ "campo.dictDataTransacao" | t }}</th>
      <th>{{ "campo.dictStatusTransacao" | t }}</th>
      <th>{{ "campo.dictTipoTransacao" | t }}</th>
      <th>{{ "campo.dictChaveInclusao" | t }}</th>
      <th>{{ "campo.dictHoraInicioTransacao" | t }}</th>
      <th>{{ "campo.dictHoraFimTransacao" | t }}</th>
      <th>{{ "campo.dictHoraIniEnvioCodigoCliente" | t }}</th>
      <th>{{ "campo.dictHoraFImEnvioCodigoClintte" | t }}</th>
      <th>{{ "campo.dictHoraAcknowledge" | t }}</th>
      <th>{{ "campo.dictHoraNotificacaoUsuario" | t }}</th>
    </tr></ng-template
  >

  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item.dsc_sis_par }}</td>
      <td>{{ item.dat_inf_dict | date:'dd/MM/yyyy':'UTC' }}</td>
      <td>{{ item.id_sta_tra_dict | dictStatusTransacao }}</td>
      <td>{{ item.id_tip_tra_dict | dictTipoTransacao }}</td>
      <td>{{ item.id_chv_inc_dict | dictChaveInclusao }}</td>
      <td>{{ item.hor_ini_tra_dict | somenteTempo }}</td>
      <td>{{ item.hor_fim_tra_dict | somenteTempo }}</td>
      <td>{{ item.hor_ini_env_cod_cli | somenteTempo }}</td>
      <td>{{ item.hor_fim_env_cod_cli | somenteTempo }}</td>
      <td>{{ item.hor_ack_dict }}</td>
      <td>{{ item.hor_ntf_usu_dict }}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="4" class="text-center">
        {{ "validacoes.nenhumaInformacao" | t }}
      </td>
    </tr>
  </ng-template>
</p-table>
