<div [formGroup]="formParent">

  <!-- Caso em que não mostra o header nem conteudo -->
  <ng-container *ngIf="(!grupo.tags || grupo.tags.length === 0) && grupo.grupos.length === 1 ; else grupoNormal">
    <app-boleto-grupo [grupo]="grupo.grupos[0]" [formParent]="formGrupos.controls[grupo.grupos[0].id]"
      [labelParent]="labelParent" [parentSidenavItems]="parentSidenavItems" [validatable]="validatable">
    </app-boleto-grupo>
  </ng-container>

  <ng-template #grupoNormal>
    <!-- Header -->
    <div *ngIf="!hideHeader && grupo.label" class="boleto-header" [id]="grupoSidenavItem.id" (click)="toggle()">
      <div class="boleto-arrow" [class.open]="openGroup" [class.close]="!openGroup"></div>
      <h3 class="title">
        <ng-container *ngFor="let label of labelParent; let i=index">
          {{label}}{{i != labelParent.length - 1 ? ' > ': ''}}
        </ng-container>
      </h3>
    </div>
  
    <!-- Content -->
    <div [class.content]="!hideHeader" [class.content--hide]="!openGroup">  
      <ng-container *ngFor="let num of orderTgas; let i = index">       
        
        <!-- Grupos do grupo -->
        <ng-container *ngFor="let grupoFilho of grupo.grupos; let i=index">
          <ng-container *ngIf="num === grupoFilho.ordem">
            <span hidden>{{salvarOrderTag(i, num)}}</span>
            <div class="grupo">
              <ng-container *ngIf="grupoFilho.tagRepetindo; else grupoSemRepeticao">
                <app-boleto-repeticao-grupo [grupo]="grupoFilho" [formParent]="formGrupos.controls[grupoFilho.id]"
                  [parentSidenavItems]="grupoSidenavItem?.items ? grupoSidenavItem.items : parentSidenavItems">
                </app-boleto-repeticao-grupo>
              </ng-container>
              <ng-template #grupoSemRepeticao>
                <app-boleto-grupo [grupo]="grupoFilho" [formParent]="formGrupos.controls[grupoFilho.id]"
                  [parentSidenavItems]="grupoSidenavItem?.items ? grupoSidenavItem.items : parentSidenavItems"
                  [validatable]="validatable">
                </app-boleto-grupo>
              </ng-template>
            </div>
          </ng-container>
        </ng-container>   

        <ng-container *ngIf="!verificaExistencia(num)">
          <!-- Tags do Grupo -->
          <div class="grupo-tags">
            <ng-container *ngFor="let tag of grupo.tags; let y=index">
              <ng-container *ngIf="num === tag.ordemCampo; else proximaPosicao">
                <span hidden>{{salvarOrderTag(i, num)}}</span>
                <div class="tag" [id]="tag.hash">
                  <ng-container [formGroup]="formTags">
                    <app-boleto-campo [tag]="tag" [formControlName]="tag.id"
                      [erro]="formTags.get(tag.id).touched && formTags.get(tag.id).errors">
                    </app-boleto-campo>
                    <div class="boleto-campo-error"
                      *ngIf="formTags.get(tag.id).touched && formTags.get(tag.id).errors?.required">
                      {{ 'validacoes.obrigatorio' | t }}
                    </div>
                    <div class="boleto-campo-error"
                      *ngIf="formTags.get(tag.id).touched && formTags.get(tag.id).errors?.whitespace">
                      {{ 'validacoes.espacoBranco' | t }}
                    </div>
                    <div class="boleto-campo-error"
                      *ngIf="formTags.get(tag.id).touched && formTags.get(tag.id).errors?.minlength">
                      {{ 'validacoes.quantidadeMinima' |
                      t:translateQuantidadeChars(formTags.get(tag.id).errors?.minlength.requiredLength) }}
                    </div>
                    <div class="boleto-campo-error"
                      *ngIf="formTags.get(tag.id).touched && formTags.get(tag.id).errors?.maxlength">
                      {{ 'validacoes.quantidadeMaxima' |
                      t:translateQuantidadeChars(formTags.get(tag.id).errors?.maxlength.requiredLength) }}
                    </div>
                  </ng-container>
                </div>
              </ng-container>
              <ng-template #proximaPosicao>
                <ng-container *ngIf="proximoTag(i, tag.ordemCampo);">
                  <!-- <span hidden>{{salvarOrderTag(i, num)}}</span> -->
                  <div class="tag" [id]="tag.hash">
                    <ng-container [formGroup]="formTags">
                      <app-boleto-campo [tag]="tag" [formControlName]="tag.id"
                        [erro]="formTags.get(tag.id).touched && formTags.get(tag.id).errors">
                      </app-boleto-campo>
                      <div class="boleto-campo-error" *ngIf="formTags.get(tag.id).touched && formTags.get(tag.id).errors?.required">
                        {{ 'validacoes.obrigatorio' | t }}
                      </div>
                      <div class="boleto-campo-error" *ngIf="formTags.get(tag.id).touched && formTags.get(tag.id).errors?.whitespace">
                        {{ 'validacoes.espacoBranco' | t }}
                      </div>
                      <div class="boleto-campo-error" *ngIf="formTags.get(tag.id).touched && formTags.get(tag.id).errors?.minlength">
                        {{ 'validacoes.quantidadeMinima' |
                        t:translateQuantidadeChars(formTags.get(tag.id).errors?.minlength.requiredLength) }}
                      </div>
                      <div class="boleto-campo-error" *ngIf="formTags.get(tag.id).touched && formTags.get(tag.id).errors?.maxlength">
                        {{ 'validacoes.quantidadeMaxima' |
                        t:translateQuantidadeChars(formTags.get(tag.id).errors?.maxlength.requiredLength) }}
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
              </ng-template>
            </ng-container>
          </div>
        </ng-container>           
      
      </ng-container>                  
    </div>
  </ng-template>

</div>
