.grupo {
  margin-top: 10px;

  .content {
    border-left: 1px solid var(--accent);
    margin: 0 0 0 20px;
    padding: 5px 0 5px 15px;
  }

  .content--hide {
    display: none;
  }
}

.grupo-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .tag {
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
