.filtro-apuracao {
  padding-top: 20px;
}

.aside-accordion {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.divisor-button {
  margin-left: 10px;
}

.sq-col-dt {
width: 200px;
}

.acoes{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  flex-direction: row;
  margin-left: auto;
}
