<alb-body>
    <h1 alb-drawer-title>{{'titulo.limiteperiodotransacaoagendada' | t}}</h1>    
        <form [formGroup]="form">
            <div class="alb-divisor --two line3" >
                <div class="width-70">
                    <alb-input [placeholder]="'campo.horarioFechamentoPerInicial' | t" 
                                formControlName="horIniEnvLiq" [mask]="{mask: '00:00:00'}">
                    </alb-input>
                </div>
                <div class="width-70">
                    <alb-input [placeholder]="'campo.horarioFechamentoPerFinal' | t" 
                                formControlName="horFimEnvLiq" [mask]="{mask: '00:00:00'}">
                    </alb-input>
                    </div>
                <div class="width-70">
                    <alb-number [placeholder]="'campo.QuantidadeMensagensAgendadas' | t" 
                                formControlName="qtdLimTrnSgo"
                                [decimal]="false" [length]="10">
                    </alb-number>
                </div>    
            </div>
        </form>

        <div style="display: flex; justify-content: end; padding-top: 24px">
            <button alb-button type="primary" (click)="onSave()" [disabled]="form?.invalid">Salvar</button>
        </div>
  </alb-body>