<alb-body *segFuncao="seg.HLO_MENU">
  <h1>{{ "titulo.historicoLogin" | t }}</h1>
  <alb-accordion
    icon="filter_list"
    [open]="false"
    [title]="'titulo.pesquisar' | t"

  >
<form [formGroup]="filtroForm">
<div class="alb-divisor --four" >
  <alb-input placeholder="Sistema" value="SQPIX" disabled></alb-input>
  <alb-input placeholder="Usuário" id="username" formControlName="usuario"></alb-input>

  <div class="sq-col-dt">
    <alb-datepicker
      [placeholder]="'campo.de' | t"
      [value]="dataIni"
      #datIni
      formControlName="dataIni"
    ></alb-datepicker>
  </div>
  <div class="sq-col-dt">
    <alb-datepicker
      [placeholder]="'campo.ate' | t"
      [value]="dataFim"
      #datFim
      formControlName="dataFim"
    ></alb-datepicker>
  </div>
</div>
<div class="aside-accordion">
  <button
    alb-button
    color="primary"
    color="accent"
    (click)="onPesquisar()"
  >
    {{ "botao.pesquisar" | t }}
  </button>
</div>
</form>
</alb-accordion>
<div class="exportar">
  <button
  alb-button
  type="secondary"
  (click)="onExportarExcel()"
  class="divisor-button"
  >
  {{ "botao.exportarTodos" | t }}
  </button>
</div>
  <p-table
  class="alb-table"
  [value]="historicoLogin"
  [paginator]="true"
  [rowsPerPageOptions]="listaQuantidadeLinhas"
  [scrollable]="true"
  [rows]="numeroLinhas"
>

  <ng-template pTemplate="header">
    <tr>
      <th>{{ "seg.campo.nomeUsuario" | t }}</th>
      <th>{{ "seg.campo.dataLogin" | t }}</th>
      <th>{{ "seg.campo.iP" | t }}</th>
      <th>{{ "seg.campo.flgLgiVal" | t }}</th>
      <th>{{ "seg.campo.descErr" | t }}</th>
      <th>{{ "seg.campo.numSeqLgi" | t }}</th>
    </tr></ng-template>

  <ng-template pTemplate="body" let-item>
    <tr>
     <td>{{item.nomUsu}}</td>
     <td>{{item.dataLogin}}</td>
     <td>{{item.ip}}</td>
     <td>{{item.flgLgiVal}}</td>
     <td>{{item.descErr}}</td>
     <td>{{item.numSeqLgi}}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="4" class="text-center">
        {{ "validacoes.nenhumaInformacao" | t }}
      </td>
    </tr>
  </ng-template>

</p-table>
</alb-body>

