<alb-body *segFuncao="seg.HFU_MENU">
  <h1>{{ "titulo.historicoFuncao" | t }}</h1>
  <alb-accordion
    icon="filter_list"
    [open]="false"
    [title]="'titulo.pesquisar' | t"

  >

  <form [formGroup]="filtroForm">
    <div class="alb-divisor --six" >
      <alb-input placeholder="Sistema" value="SQPIX" disabled></alb-input>
      <alb-input placeholder="Usuário" id="username" formControlName="usuario"></alb-input>
      <alb-input placeholder="Funcionalidade" id="funcionalidade" formControlName="funcionalidade"></alb-input>
      <div class="sq-col-dt">
        <alb-datepicker
          [placeholder]="'campo.de' | t"
          [value]="dataIni"
          #datIni
          formControlName="dataIni"
        ></alb-datepicker>
      </div>
      <div class="sq-col-dt">
        <alb-datepicker
          [placeholder]="'campo.ate' | t"
          [value]="dataFim"
          #datFim
          formControlName="dataFim"
        ></alb-datepicker>
      </div>
    </div>

    <div class="aside-accordion">
      <button
        alb-button
        color="primary"
        color="accent"
        (click)="onPesquisar()"
      >
      {{ "botao.pesquisar" | t }}
    </button>
</div>
</form>
</alb-accordion>
<div class="exportar">
  <button
  alb-button
  type="secondary"
  (click)="onExportarExcel()"
  class="divisor-button"
  >
  {{ "botao.exportarTodos" | t }}
  </button>
</div>

<p-table
  class="alb-table"
  [value]="historicoFuncao"
  [paginator]="true"
  [rowsPerPageOptions]="listaQuantidadeLinhas"
  [scrollable]="true"
  [rows]="numeroLinhas"
>
<ng-template pTemplate="header">
  <tr>
    <th>{{ "seg.campo.nomeUsuario" | t }}</th>
    <th>{{ "seg.campo.descricaoFuncionalidade" | t }}</th>
    <th>{{ "seg.campo.dataHistoricoFuncao" | t }}</th>
  </tr>
</ng-template>

<ng-template pTemplate="body" let-item>
  <tr>
   <td>{{item.nome}}</td>
   <td>{{item.descricaoFuncionalidade}}</td>
   <td>{{item.dataHistoricoFuncao}}</td>
  </tr>
</ng-template>
<ng-template pTemplate="emptymessage">
  <tr>
    <td colspan="4" class="text-center">
      {{ "validacoes.nenhumaInformacao" | t }}
    </td>
  </tr>
</ng-template>
</p-table>
</alb-body>
