<alb-body>
  <app-drawer-content>
    <form [formGroup]="form">
      <div class="alb-divisor">
        <alb-input class="width-30" [placeholder]="'campo.contato_nome' | t" formControlName="nome"
          [maxLength]="200"></alb-input>
        <alb-input class="width-40" [placeholder]="'campo.contato_email' | t" formControlName="email"
          [maxLength]="200" ></alb-input>
          <div class="width-30">
            <button style="margin-top: 10px" type="button" alb-button type="secondary" [disabled]="form?.invalid"
            (click)="inserir()">
            {{'botao.inserir' | t}}</button>
          </div>
          <div class="width-100">
            <p-table class="alb-table" rowHover="true" [scrollable]="true" [value]="contatos">
              <ng-template pTemplate="header">
                <tr>
                  <th id="nome">{{ 'campo.contato_nome' | t}}</th>
                  <th id="email">{{ 'campo.contato_email' | t}}</th>
                  <th id="acoes"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-c>
                <tr>
                  <td>{{ c.nome }}</td>
                  <td>{{ c.email }}</td>
                  <td>
                    <button *ngIf="c.operacao !== 2" alb-button-icon icon="delete" (click)="remover(c)" type="button" pure></button>
                    <button *ngIf="c.operacao === 2" alb-button-icon icon="undo" (click)="desfazer(c)" type="button" pure></button>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="25" class="text-center">
                    {{ "validacoes.nenhumaInformacao" | t }}
                  </td>
                </tr>
              </ng-template>

            </p-table>
          </div>
      </div>
      <div style="display: flex; justify-content: end; padding-top: 24px">
        <button
          alb-button
          type="primary"
          (click)="onSave()"
          *segFuncao="seg.PAR_BTN_SALVAR"
          [track]="seg.PAR_BTN_SALVAR"
          >
          {{ "botao.salvar" | t }}
        </button>
      </div>
    </form>
  </app-drawer-content>
</alb-body>