<alb-checkbox
  [label]="'campo.selecionarTodos' | t"
  [value]="selection.hasValue() && isAllSelected()"
  (change)="$event ? masterToggle() : null"
  [indeterminate]="selection.hasValue() && !isAllSelected()"
></alb-checkbox>
<hr>
<div class="consulta-detalhe-lista">
  <div *ngFor="let listaSelecionados of listaSelecionados">
    <alb-checkbox
      [label]="listaSelecionados.codigoMensagem"
      (click)="$event.stopPropagation()"
      (change)="$event ? selection.toggle(listaSelecionados) : null; itemSelecionado()"
      [value]="selection.isSelected(listaSelecionados)"
      *ngIf="selection.isSelected(listaSelecionados)">
    </alb-checkbox>
  </div>
  <div *ngFor="let listarConsultaDetalhada of listarConsultaDetalhada">
    <alb-checkbox
      [label]="listarConsultaDetalhada.codigoMensagem"
      (click)="$event.stopPropagation()"
      (change)="$event ? selection.toggle(listarConsultaDetalhada) : null; itemSelecionado()"
      *ngIf="!selection.isSelected(listarConsultaDetalhada)">
    </alb-checkbox>
  </div>
</div>
