ul {
  width: max-content;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
}

.list {
  list-style: none;
}

.title, .item {
  cursor: pointer;

  div {
    padding: .2rem .5rem;
    &:hover{
      color: rgb(158, 158, 252);
    }
  }
}

.nivel {
  margin-left: 1.5rem;
  // border-left: 1.5px solid mat-color($sq-foreground, divider);
}

.content::before {
  content: "";
  display: inline-block;
  width: 2em;
  position: relative;
  left: 0em;
  top: -0.3em;
  // border-top: 1.5px solid mat-color($sq-foreground, divider);
}

.strong {
  color: blue;
  font-weight: 600px;
}

.weak {
  padding-left: 0 !important;
  color: blue;
}

.active, .active li {
  color: rgb(158, 158, 252);
}

