<alb-body *segFuncao="seg.CCO_MENU">
  <h1>{{'titulo.conciliacaoContabil' | t}}</h1>
  <alb-accordion icon="filter_list" [open]="true" [title]="'titulo.pesquisar' | t">
    <form [formGroup]="filtroForm">
      <div class="alb-divisor">
        <div class="sq-col-dt">
          <alb-datepicker
            formControlName="dataInicio"
            [placeholder]="'campo.de' | t"
          ></alb-datepicker>
        </div>
        <div class="sq-col-dt">
          <alb-datepicker
            formControlName="dataFim"
            [placeholder]="'campo.ate' | t"
          ></alb-datepicker>
        </div>


        <!-- <div class="width-40">
          <ng-select
            [placeholder]="'campo.mes' | t"
            class="alb-ng-select"
            formControlName="mes"
          >
            <ng-option *ngFor="let el of mesesList" [value]="el">{{
              el | mesesDoAno
            }}</ng-option>
          </ng-select>
        </div> 
        <div class="width-30">
          <alb-input
            [placeholder]="'campo.ano' | t"
            [maxLength]="4"
            [mask]="{ mask: '0000' }"
            formControlName="ano"
          >
          </alb-input>
        </div> -->
        <div class="width-10">
          <alb-input
            [placeholder]="'campo.empresa' | t"
            [maxLength]="4"
            [mask]="{ mask: '0000' }"
            formControlName="empresa"
          >
          </alb-input>
        </div>
        <div class="width-10">
          <alb-input
            [placeholder]="'campo.contabilContaBancaria' | t"
            formControlName="contabilContaBancaria"
          >
          </alb-input>
        </div>
        <div class="width-10">
          <alb-input
            [placeholder]="'campo.contabilFormaPagamento' | t"
            formControlName="contabilFormaPagamento"
          >
          </alb-input>
        </div>
        <div class="width-10">
          <alb-input
            [placeholder]="'campo.contabilNatureza' | t"
            formControlName="contabilNatureza"
          >
          </alb-input>
        </div>
        <div class="width-10">
          <alb-input
            [placeholder]="'campo.contabilCentroCusto' | t"
            formControlName="contabilCentroCusto"
          >
          </alb-input>
        </div>
      </div>
      <div class="aside-accordion">
        <button alb-button color="primary" (click)="onPesquisar()" color="accent" [disabled]="filtroForm.invalid">
          {{'botao.pesquisar' | t }}
        </button>
      </div>
    </form>
  </alb-accordion>

  <alb-tab-group class="white">
    <alb-tab [label]="'tabs.spi' | t" [id]="ConciliacaoContabilTipo.ANALITICO">
      <ng-template albTabBodyWrapper>
        <app-conciliacao-contabil-lista-analitico [filtro]="filtro$ | async">
        </app-conciliacao-contabil-lista-analitico>
      </ng-template>
    </alb-tab>

    <div aside class="acoes">
      <!-- <button alb-button [disabled]="!download_liberado" (click)="download()">
        {{ "botao.download" | t }}
      </button> -->
      <button alb-button (click)="onDownload()">
        {{ "botao.exportar" | t }}
      </button>
  </div>
</alb-tab-group>
</alb-body>
