@mixin bancosLayout($gridTemplateRows, $nthChild: 2) {
  .layout-page {
    display: grid;
    grid-template-rows: minmax(70px, auto) 1fr;
    height: 100%;
  }

  .layout-page__body {
    display: grid;
    grid-template-rows: $gridTemplateRows;
    overflow-y: hidden;
    margin-bottom: 10px;

    > *:nth-child(#{$nthChild}) {
      background-color: mat-color($sq-background, card);
      overflow-y: auto;
    }
  }
}

.bancos__page {
  position: relative;
  height: 100%;
}

.bancos__page.--consulta-filtro {
  $gridTemplateRows: minmax(min-content, auto) 1fr minmax(min-content, auto);
  @include bancosLayout($gridTemplateRows);
}

.bancos__page.--consulta-filtro-com-rodape {
  $gridTemplateRows: minmax(min-content, auto) 1fr minmax(min-content, auto) minmax(min-content, auto);
  @include bancosLayout($gridTemplateRows);
}

.bancos__page.--consulta-sem-filtro {
  $gridTemplateRows: 1fr minmax(min-content, auto);
  $nthChild: 1;
  @include bancosLayout($gridTemplateRows, $nthChild);
}


