.dashboard-header .tab-header {
  background-color: transparent;
}

.white .tab-header {
  background-color: var(--white);
  border: 1px solid var(--border);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}

.header-item.--selected {
  color: var(--primary);
}
