registry=https://nexus.sinqia.com.br/js/repository/npm-group
always-auth=true
email=cyrus@sinqia.com.br
timeout=300000
//nexus.sinqia.com.br/js/repository/:_auth="amVua2lucy1jb3JlLWJhbmNhcmlvOmt2YUNCQVMzalJlQ3Y="
