<app-drawer-content>
  <h1 alb-drawer-title>{{'titulo.mensagem' | t}}</h1>

  <div>
    <div class="alb-divisor --two">
      <div class="label">
        <span>{{'campo.enviadoPor' | t}}</span>
        <span>{{alerta?.usuario}}</span>
      </div>
      <div class="label">
        <span>{{'campo.enviado' | t}}</span>
        <span>{{alerta?.dataEnvio | dateTime}}</span>
      </div>
    </div>

    <div class="alb-divisor --one">
      <div class="label">
        <span>{{'campo.categoria' | t}}</span>
        <span>{{alerta?.descricao}}</span>
      </div>
      <div class="label">
        <span>{{'campo.assunto' | t}}</span>
        <span>{{alerta?.assunto}}</span>
      </div>
    </div>

    <div class="alb-box descricao">
      <div [innerHTML]='alerta?.descricaoMensagem'></div>
    </div>
  </div>
</app-drawer-content>
