<div class="table">
    <p-table class="alb-table" [value]="data" rowHover="true" [scrollable]="true">
      <ng-template pTemplate="colgroup">
        <col class="sq-col-sm">
        <col class="sq-col-sm">
        <col class="sq-col-sm">
        <col class="sq-col-sm">
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>{{ 'campo.dataHoraInclusao' | t }}</th>
          <th>{{ 'campo.dataReferencia' | t }}</th>
          <th>{{ 'campo.ocorrencia' | t }}</th>
          <th>{{ 'campo.sistema' | t }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cobranca>
        <tr >
          <td (click)="onDetalhe(cobranca.dscLogOco)">{{ cobranca.dataHoraInclusao |  dateTime  }}</td>
          <td (click)="onDetalhe(cobranca.dscLogOco)">{{ cobranca.dataReferencia |  dateTime   }}</td>
          <td (click)="onDetalhe(cobranca.dscLogOco)">{{ cobranca.ocorrencia  }}</td>
          <td (click)="onDetalhe(cobranca.dscLogOco)">{{ cobranca.sistema  }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="16" class="text-center">{{ 'validacoes.nenhumaInformacao' | t }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>