<app-drawer-content>
  <form [formGroup]="formData">
    <div style="margin: -20px">
      <div class="alb-divisor" style="padding: 8px;" >
        <div class="width-50">
          <alb-input [placeholder]="'campo.usrApi' | t" formControlName="clientId" [maxLength]="14" pattern="^[0-9]*"></alb-input>
        </div>
        <div style="padding-top: 8px;"  class="width-20">
          <button alb-button type="primary" (click)="onInserir()" [disabled]="formData?.invalid">
            {{ "botao.inserir" | t }}
          </button>
        </div>
        <div class="width-100">
          <div class="error" *ngIf="formData?.controls.clientId.errors?.pattern">
            {{'mensagem.caracterinvalido_clientId' | t}}
          </div>
        </div>
      </div>
    </div>
  </form>

  <br/>
  <h3>Credenciais</h3>
  <br/>

  <div class="alb-divisor center">
    <div class="width-100">
      <p-table scrollHeight="calc(100vh - 360px)" [value]="participantesAcesso" class="alb-table" rowHover="true" [scrollable]="true">
        <ng-template pTemplate="colgroup">
          <col class="sq-col-md">
          <col class="sq-col-md">    
          <col class="sq-col-md">       
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th id="nome">{{ 'campo.clientId' | t}}</th>
            <th id="secret">{{ 'campo.clientSecret' | t}}</th>     
            <th></th> 
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-participanteAcesso>
          <tr>
            <td>{{participanteAcesso.clientId}}</td>
            <td>{{participanteAcesso.clientSecret}}</td>           
            <td class="edit-btn">           
            <button alb-button-icon icon="delete" type="button" style="border: none;  background:transparent"
                (click)="onDeletar(participanteAcesso.credencialId)"></button>
            </td> 
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

</app-drawer-content>