<p-table class="alb-table" [sq-data-source]="ds" class="alb-table" rowHover="true" [scrollable]="true" [paginator]="true">
  <ng-template pTemplate="header">
    <ng-template pTemplate="colgroup">
      <col class="sq-col-sm"> <!-- data -->
      <col class="sq-col-sm"> <!-- situação de envio -->
      <col class="sq-col-sm"> <!-- data inclusão mensagem -->
    </ng-template>
    <tr>
      <th>{{ 'campo.data' | t }}</th>
      <th>{{ 'campo.situacaoEnvio' | t }}</th>
      <th>{{ 'campo.dataInclusaoMensagem' | t }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-mensagem>
    <tr>
      <td>{{ mensagem.dataHoraProcessamento | date:'shortDate'}}</td>
      <td>{{ mensagem.descricaoSituacaoMensagem}}</td>
      <td>{{ mensagem.dataReferenciaTrilhaMensagemTransacao | date:'shortDate'}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="3" class="text-center">{{ 'validacoes.nenhumaInformacao' | t }}</td>
    </tr>
  </ng-template>
</p-table>
