<alb-body>
  <h1>
    {{ 'titulo.situacaoMensagem' | t }}
  </h1>

  <div class="alb-divisor">
    <form [formGroup]="formGroup">
      <alb-textarea class="mensagem" formControlName="motivo" placeholder="{{'campo.motivo' | t}}" required></alb-textarea>
    </form>
  </div>

  <div class="action-button --bottom">
    <button alb-button type="secondary"(click)="onClose()">{{ 'botao.cancelar' | t }}</button>
    <button alb-button type="primary" (click)="onSave()" [disabled]="!formGroup.valid">{{ 'botao.salvar' | t }}</button>
  </div>
</alb-body>
