<alb-body *segFuncao="seg.NVL_MENU">
  <h1>{{ 'nivelHierarquico.titulo.nivelHierarquico' | t }}</h1>
  <aside>
    <div class="alb-divisor">
      <div class="width-100">
        <button
        alb-button
        type="primary"
        class="divisor-button"
        (click)="onNovoNivelHierarquico()"
        *segFuncao="seg.NVL_BTN_NOVO"
        [track]="seg.NVL_BTN_NOVO"
        >
        {{ "nivelHierarquico.botao.novo" | t }}
      </button>
      </div>
    </div>
  </aside>

  <alb-card title="{{'nivelHierarquico.titulo.listaNivelHierarquico' | t}}">
    <app-lista-nivel-hierarquico
        [eventUpdate]="eventEmitterNivelUpdate"
      >
      </app-lista-nivel-hierarquico>
  </alb-card>
</alb-body>
