.grupo-repeticao {

  .content {
    border-left: 1px solid var(--accent);
    margin: 0 0 0 20px;
    padding: 5px 0 5px 15px;
  }

  .content--hide {
    display: none;
  }

  button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline-color: #484b50;
    margin-left: auto;
  }
}
