<div class="grupo-repeticao">
  <div class="boleto-header" (click)="toggleGroup()" [id]="grupoSidenavItem.id">
    <div *ngIf="formParent.controls.length > 0" class="boleto-arrow" [class.open]="open" [class.close]="!open"></div>
    <h3 class="title">{{grupo.label}}</h3>
    <button alb-button-icon icon="add" (click)="adicionarNovoGrupo($event)">
    </button>
  </div>
  <div class="content" [class.content--hide]="open" *ngFor="let control of formParent.controls; let i=index">
    <div class="boleto-header" (click)="toggleChildren(i)" [id]="grupoSidenavItem.items[i].id">
      <div class="boleto-arrow" [class.open]="openGroups[i]" [class.close]="!openGroups[i]"></div>
      <h3 class="title">Item : {{i + 1}}</h3>
      <button alb-button-icon icon="clear" (click)="removerGrupo($event, i)">
      </button>
    </div>
    <div class="content" [class.content--hide]="openGroups[i]">
      <app-boleto-grupo [grupo]="grupo" [formParent]="control" [parentSidenavItems]="grupoSidenavItem.items[i].items"
        [hideHeader]="true" [validatable]="true">
      </app-boleto-grupo>
    </div>
  </div>
</div>
