<alb-body>
  <h1>
    {{ 'titulo.alterarPrioridade' | t }}
  </h1>

  <div class="alb-divisor">
    <div *ngFor="let prioridade of prioridades$ | async">
      <button alb-button type="secondary" (click)="definirPrioridade(prioridade.idPrioridade)" class="prioridade">
        <ng-container [ngSwitch]="prioridade.idPrioridade">
          <ng-container *ngSwitchCase="tipoPrioridadeBoleta.ALTA">
            <button alb-button-icon icon="arrow_upward" pure class="icon-sucess"></button>
            {{ 'botao.alta' | t }}
          </ng-container>
          <ng-container *ngSwitchCase="tipoPrioridadeBoleta.ACIMA_DO_NORMAL">
            <button alb-button-icon icon="expand_less" pure class="icon-sucess"></button>
            {{ 'botao.acimaNormal' | t }}
          </ng-container>
          <ng-container *ngSwitchCase="tipoPrioridadeBoleta.NORMAL">
            {{ 'botao.normal' | t }}
          </ng-container>
          <ng-container *ngSwitchCase="tipoPrioridadeBoleta.ABAIXO_DO_NORMAL">
            <button alb-button-icon icon="expand_more" pure class="icon-warn"></button>
            {{ 'botao.abaixoNormal' | t }}
          </ng-container>
          <ng-container *ngSwitchCase="tipoPrioridadeBoleta.BAIXA">
            <button alb-button-icon icon="arrow_downward" pure class="icon-warn"></button>
            {{ 'botao.baixa' | t }}
          </ng-container>
        </ng-container>
      </button>
    </div>

  </div>

  <div class="action-button --bottom">
    <button alb-button type="primary" (click)="onCancelar()">{{ 'botao.cancelar' | t }}</button>
  </div>
</alb-body>
