<h1 alb-drawer-title>{{ "titulo.importarDados" | t }}</h1>

<app-drawer-content>
  <div style="margin: -16px">
    <alb-tab-group (selectedTabChange)="onTrocarTab($event)">
      <alb-tab [label]="'tabs.arquivo' | t">
        <ng-template albTabBodyWrapper>
          <app-apuracao-dados-informes-bacen-importar-upload-tab></app-apuracao-dados-informes-bacen-importar-upload-tab>
        </ng-template>
      </alb-tab>
      <alb-tab [label]="'tabs.cadastro' | t">
        <ng-template albTabBodyWrapper>
          <app-apuracao-dados-informes-bacen-importar-cadastro-tab></app-apuracao-dados-informes-bacen-importar-cadastro-tab>
        </ng-template>
      </alb-tab>
    </alb-tab-group>
  </div>
</app-drawer-content>
