<alb-body>
  <header class="drawer-header">
    <h2 class="drawer-title">
      {{ posicaoReserva.descricao }}
        <span class="--text-warn">R$ {{ soma | valorFinanceiro }}</span>
    </h2>
  </header>
  <div>
    <alb-accordion icon="filter_list" [open]="true" [title]="'titulo.pesquisar' | t">
      <form [formGroup]="filtroForm">
        <div class="alb-divisor --two">
          <alb-datepicker placeholder="{{'campo.dataReferencia' | t }}" formControlName="dataReferencia">
          </alb-datepicker>
        </div>
      </form>

      <div class="action-button">
        <button alb-button color="primary" (click)="ds.filter()" color="accent">
          {{'botao.pesquisar' | t }}
        </button>
      </div>
    </alb-accordion>

    <div class="alb-divisor --two">
      <span class="valorLiberado">
        Valor a ser liberado: <b class="--text-warn">R$ {{ total | valorFinanceiro }}</b>
      </span>
      <div class="button-area">
        <button class="button-transacao" alb-button (click)="onVerificarMensagens()">
          {{'botao.verificar' | t}}
        </button>
        <button class="button-transacao" alb-button (click)="onDesbloquearTransacao()">
          {{'botao.liberarTransacao' | t}}
        </button>
        <button class="button-transacao" alb-button (click)="onBloquearTransacao()">
          {{'botao.bloquearTransacao' | t}}
        </button>
      </div>
    </div>

    <p-table scrollHeight="calc(100vh - 360px)" [sq-data-source]="ds" class="alb-table" rowHover="true"
      [scrollable]="true">
      <ng-template pTemplate="colgroup">
        <col class="sq-col-xs">
        <col class="sq-col-xs">
        <col class="sq-col-xs">
        <col class="sq-col-sm">
        <col class="sq-col-md">
        <col class="sq-col-md">
        <col class="sq-col-sm">
        <col class="sq-col-sm">
        <col class="sq-col-lg">
        <col class="sq-col-md">
        <col class="sq-col-md">
        <col class="sq-col-sm">
        <col class="sq-col-sm">
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th>
            <ng-container *ngIf="ds?.data$ | async as detalheReserva">
              <alb-checkbox (change)="allSelecionadosDetalheReserva(detalheReserva)"
                [value]="ds.selection.hasValue() && ds.isAllSelected(detalheReserva) "
                [indeterminate]="ds.selection.hasValue() && !ds.isAllSelected(detalheReserva)">
              </alb-checkbox>
            </ng-container>
          </th>
          <th></th>
          <th [pSortableColumn]="'numeroSequencialDaTransacao'">
            {{'campo.numeroSequencialDaTransacao' | t}}
          </th>
          <th class="text-center" [pSortableColumn]="'dataReferencia'">
            {{'campo.dataReferencia' | t}}
          </th>
          <th [pSortableColumn]="'estadoTransacao'">
            {{'campo.estadoTransacao' | t}}
          </th>
          <th [pSortableColumn]="'situacaoMensagem'">
            {{'campo.situacaoMensagem' | t}}
          </th>
          <th class="text-end" [pSortableColumn]="'valor'">
            {{'campo.valor' | t}}
          </th>
          <th [pSortableColumn]="'evento'">
            {{'campo.evento'| t}}
          </th>
          <th [pSortableColumn]="'descricaoMensagem'">
            {{'campo.composicaoOperacao'| t}}
          </th>
          <th [pSortableColumn]="'sistema'">
            {{'campo.sistema'| t}}
          </th>
          <th [pSortableColumn]="'operacaoBancaria'">
            {{'campo.operacaoBancaria'| t}}
          </th>
          <th class="text-center" [pSortableColumn]="'horaMovimentacao'">
            {{'campo.horaMovimentacao'| t}}
          </th>
          <th class="text-center" [pSortableColumn]="'dataUltimaManutencao'">
            {{'campo.dataUltimaManutencao'| t}}
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-detalheReserva>
        <tr>
          <td>
            <alb-checkbox (change)="selecionadoDetalheReserva(detalheReserva)"
              [value]="ds.selection.isSelected(detalheReserva)">
            </alb-checkbox>
          </td>
          <td>
            <button class="alb-icon-size" alb-button-icon icon="remove_red_eye" (click)="onVisualizarTransacao(detalheReserva)" pure>
            </button>
          </td>
          <td>{{detalheReserva.numeroSequencialDaTransacao}}</td>
          <td class="text-center">{{detalheReserva.dataReferencia | date: 'shortDate': '+0000'  }}</td>
          <td>{{detalheReserva.estadoTransacao}}</td>
          <td>{{detalheReserva.situacaoMensagem}}</td>
          <td class="text-end">{{detalheReserva.valor | valorFinanceiro}}</td>
          <td>{{detalheReserva.evento}}</td>
          <td>{{detalheReserva.composicaoOperacao}}</td>
          <td>{{detalheReserva.sistema}}</td>
          <td>{{detalheReserva.operacaoBancaria}}</td>
          <td class="text-center">{{detalheReserva.horaMovimentacao}}</td>
          <td class="text-center">{{detalheReserva.dataUltimaManutencao | dateTime}}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td colspan="13" class="text-center">
            {{'validacoes.nenhumaInformacao' | t}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</alb-body>
