<alb-body *segFuncao="seg.ONB_MENU">
  <h1>{{'titulo.onboardingapipix' | t}}</h1>

  <alb-tab-group class="white">
    <alb-tab [label]="'Usuário Recebedor' | t">
      <ng-template albTabBodyWrapper>
        <app-usuario-recebedor-lista [filtro]="filtro$ | async" (notifica)="notifica($event)">
        </app-usuario-recebedor-lista>
      </ng-template>
    </alb-tab>


    <div aside class="acoes">
      <button alb-button-icon icon="autorenew" type="button" (click)="refresh()" pure></button>
      <button *segFuncao="seg.ONB_ADICIONAR_USUARIO" [track]="seg.ONB_ADICIONAR_USUARIO" alb-button type="secondary" class="divisor-button" (click)="adicionar()">
        {{'botao.adicionar_usu_rec' | t}}
      </button>

    </div>
  </alb-tab-group>

</alb-body>