<alb-body *segFuncao="permissoes.SEG_MENU">
  <h1>{{ "seg.titulo.moduloseg" | t }}</h1>

  <alb-tab-group class="white" (selectedTabChange)="onTrocarTab($event)">
    <alb-tab
      [label]="'seg.tabs.usuarios' | t"
      [id]="tab_usuarios"
      *segFuncao="permissoes.SEG_TAB_USUARIO">
      <ng-template albTabBodyWrapper>
        <app-seg-lista-usuarios
          [eventUpdate]="eventEmitterUsuarioUpdate"
          [filtro]="filtroUsuario"
          (listaUsuario)="receiverList($event)"
        >
        </app-seg-lista-usuarios>
      </ng-template>
    </alb-tab>
    <alb-tab
      [label]="'seg.tabs.grupos' | t"
      [id]="tab_grupos"
      *segFuncao="permissoes.SEG_TAB_GRUPO">
      <ng-template albTabBodyWrapper>
        <app-seg-lista-grupos
          [eventUpdate]="eventEmitterGrupoUpdate"
          [filtro]="filtroGrupo"
          (listaGrupo)="receiverList($event)"
        ></app-seg-lista-grupos>
      </ng-template>
    </alb-tab>
    <alb-tab
    [label]="'seg.tabs.dicionarioSenha' | t"
      [id]="tab_dicionario"
      *segFuncao="permissoes.SEG_TAB_DICIONARIO">
      <ng-template albTabBodyWrapper>
        <app-seg-lista-dicionario
        [eventUpdate]="eventEmitterDicionarioUpdate"
        [filtro]="filtroDicionario"
        (listaDicionario)="receiverList($event)"
      ></app-seg-lista-dicionario>
      </ng-template>
    </alb-tab>
    <div aside class="acoes">
      <div class="alb-divisor">
        <div class="width-45" style="margin-top: -5px">
          <alb-input
            type="text"
            [(ngModel)]="filtroUsuario"
            placeholder="Filtro"
            [hidden]="tab_selected == tab_grupos || tab_selected == tab_dicionario"
          >
          </alb-input>
          <alb-input
            type="text"
            [(ngModel)]="filtroGrupo"
            placeholder="Filtro"
            [hidden]="tab_selected == tab_usuarios || tab_selected == tab_dicionario"
          >
          </alb-input>
          <alb-input
          type="text"
          [(ngModel)]="filtroDicionario"
          placeholder="Filtro"
          [hidden]="tab_selected == tab_usuarios || tab_selected == tab_grupos"
        >
        </alb-input>
        </div>
        <div class="width-25">
          <button
            alb-button
            type="primary"
            class="divisor-button"
            (click)="onNovoUsuario()"
            *segFuncao="permissoes.SEG_ADD_USUARIO"
            [track]="permissoes.SEG_ADD_USUARIO"
            [hidden]="tab_selected == tab_grupos || tab_selected == tab_dicionario"
          >
            {{ "seg.botao.novousuario" | t }}
          </button>
          <button
            [hidden]="tab_selected == tab_usuarios || tab_selected == tab_dicionario"
            alb-button
            type="primary"
            class="divisor-button"
            (click)="onNovoGrupo()"
            *segFuncao="permissoes.SEG_ADD_GRUPO"
            [track]="permissoes.SEG_ADD_GRUPO"
          >
            {{ "seg.botao.novogrupo" | t }}
          </button>
          <button
          [hidden]="tab_selected == tab_usuarios || tab_selected == tab_grupos"
          alb-button
          type="primary"
          class="divisor-button"
          (click)="onNovoSenhaDicionario()"
          *segFuncao="permissoes.SEG_ADD_DICIONARIO"
          [track]="permissoes.SEG_ADD_DICIONARIO"
        >
          {{ "seg.botao.novaSenha" | t }}
        </button>
      </div>
        <div class="width-25">
          <button
            alb-button
            type="secondary"        
            class="divisor-button"
            (click)="onExportarExcel()"
            [hidden]="tab_selected == tab_grupos || tab_selected == tab_dicionario"
            >
            {{ "botao.exportarTodos" | t }}
          </button>
          <button
            alb-button
            type="secondary"        
            class="divisor-button"
            (click)="onExportarExcel()"
            [hidden]="tab_selected == tab_usuarios || tab_selected == tab_dicionario"
            >
            {{ "botao.exportarTodos" | t }}
          </button>
          <button
          alb-button
          type="secondary"        
          class="divisor-button"
          (click)="onExportarExcel()"
          [hidden]="tab_selected == tab_usuarios || tab_selected == tab_grupos"
          >
          {{ "botao.exportarTodos" | t }}
          </button>
        </div>
      </div>
    </div>
  </alb-tab-group>
</alb-body>
