@import "../../design-tokens.scss";
@use '../../core/design-tokens/typography';

@mixin alb-button() {
  :root {
    @import "../../core/design-tokens/color.scss";

    //Primary
    --button-primary: #{$color-info-lightest};
    --button-primary-background: #{$color-brand-regular};
    --button-primary-background-hover: #{$color-brand-dark};
    --button-primary-background-pressed: #{$color-brand-darker};

    //Secondary
    --button-secondary: #{$color-brand-regular};
    --button-secondary-hover: #{$color-brand-dark};
    --button-secondary-pressed: #{$color-brand-darker};
    --button-secondary-border: #{$color-brand-lighter};
    --button-secondary-border-hover: #{$color-brand-dark};
    --button-secondary-border-pressed: #{$color-brand-darker};
    --button-secondary-background: #{$color-brand-lightest};
    --button-secondary-background-hover: #{$color-brand-lightest};
    --button-secondary-background-pressed: #{$color-brand-lightest};

    //Tertiary
    --button-tertiary: var(--button-primary-background);
    --button-tertiary-hover: var(--button-primary-background-hover);
    --button-tertiary-pressed: var(--button-primary-background-pressed);

    //Success
    --button-success: var(--success);
    --button-success-hover: #{$color-system-success-dark};
    --button-success-pressed: var(--success);
    --button-success-background: transparent;

    //Warn
    --button-warn: var(--warn);
    --button-warn-hover: #{$color-system-warn-dark};
    --button-warn-pressed: var(--warn);
    --button-warn-background: transparent;

    //Link
    --button-link: #{$color-system-link};
    --button-link-hover: #{$color-system-link-dark};
    --button-link-pressed: #{$color-system-link-darker};

    //Ghost
    --button-ghost: #{$color-border-hard};
    --button-ghost-border: #{$color-border-soft};
    --button-ghost-background: #{$color-background-hard};
    --button-ghost-background-hover: var(--button-ghost-background);
    --button-ghost-background-pressed: var(--button-ghost-background);

    //Disabled
    --button-disabled: #{$color-border-regular};
    --button-disabled-background: #{$color-disable-regular};
  }

  [theme="dark"]:root {
    @import "../../core/design-tokens/color-dark.scss";

    //Primary
    --button-primary: #{$color-border-hard};
    --button-primary-background: #{$color-brand-regular};
    --button-primary-background-hover: #{$color-brand-light};
    --button-primary-background-pressed: #{$color-brand-regular};

    //Secondary
    --button-secondary: #{$color-info-lightest};
    --button-secondary-hover: #{$color-info-lightest};
    --button-secondary-pressed: #{$color-info-lightest};
    --button-secondary-border: transparent;
    --button-secondary-border-hover: transparent;
    --button-secondary-border-pressed: transparent;
    --button-secondary-background: #{$color-background-soft};
    --button-secondary-background-hover: #{$color-background-light};
    --button-secondary-background-pressed: #{$color-border-dark};

    //Tertiary
    --button-tertiary: var(--button-primary-background);
    --button-tertiary-hover: var(--button-primary-background-hover);
    --button-tertiary-pressed: var(--button-primary-background-pressed);

    //Success
    --button-success: #{$color-system-success-dark};
    --button-success-hover: #{$color-system-success-light};
    --button-success-pressed: var(--success);

    //Warn
    --button-warn: #{$color-system-warn-dark};
    --button-warn-hover: #{$color-system-warn-light};
    --button-warn-pressed: var(--warn);

    //Ghost
    --button-ghost: var(--button-secondary);
    --button-ghost-border: var(--button-secondary-background);
    --button-ghost-background: transparent;
    --button-ghost-background-hover: var(--button-secondary-background-hover);
    --button-ghost-background-pressed: var(--button-secondary-background-pressed);

    //Link
    --button-link: #{$color-system-link};
    --button-link-hover: #{$color-system-link-light};
    --button-link-pressed: #{$color-system-link-lighter};

    //Disabled
    --button-disabled: #{$color-border-regular};
    --button-disabled-background: #{$color-disable-regular};
  }

  .alb-button {
    border: 0;
    outline: none;
    cursor: pointer;
    min-width: 100px;
    position: relative;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    background-position: left;
    transition: background 0.6s;
    border-radius: $border-radius-thin;

    @extend .typography-read-medium-xs;
    font-weight: $font-weight-regular;
    text-transform: uppercase;
    letter-spacing: 1px;

    span {
      align-items: center;
      display: inline-flex;
      justify-content: center;
    }

    i {
      font-size: $font-size-sm;
      margin: 0 $margin-thin;
      padding: 0;
    }

    &.small {
      height: 20px;
      padding: $padding-thin $padding-slim;

      &.secondary,
      &.ghost {
        padding: calc(#{$padding-thin} - 1px) calc(#{$padding-slim} - 1px);
      }
    }

    &.medium {
      height: 24px;
      padding: $padding-slim $padding-medium;

      &.secondary,
      &.ghost {
        padding: calc(#{$padding-slim} - 1px) calc(#{$padding-medium} - 1px);
      }
    }

    &.large {
      height: 32px;
      font-size: $font-size-sm;
      padding: $padding-slim $padding-medium;

      i {
        margin: 0 $margin-slim;
      }

      &.secondary,
      &.ghost {
        padding: calc(#{$padding-slim} - 1px) calc(#{$padding-medium} - 1px);
      }
    }

    &.primary {
      color: var(--button-primary);
      border: none;
      background-color: var(--button-primary-background);

      &:hover {
        background: var(--button-primary-background-hover);
      }

      &:active {
        background-color: var(--button-primary-background-pressed);
      }

      &.success {
        background-color: var(--button-success);

        &:hover {
          background: var(--button-success-hover)
            radial-gradient(circle, transparent 1%, var(--button-success-hover) 1%) center/15000%;
        }

        &:active {
          background-color: var(--button-success-pressed);
          background-size: 100%;
          transition: background 0s;
        }
      }

      &.warn {
        background-color: var(--button-warn);

        &:hover {
          background: var(--button-warn-hover) radial-gradient(circle, transparent 1%, var(--button-warn-hover) 1%)
            center/15000%;
        }

        &:active {
          background-color: var(--button-warn-pressed);
          background-size: 100%;
          transition: background 0s;
        }
      }
    }

    &.secondary {
      color: var(--button-secondary);
      border: 1px solid var(--button-secondary-border);
      background-color: var(--button-secondary-background);

      &:hover {
        color: var(--button-secondary-hover);
        border-color: var(--button-secondary-border-hover);
        background-color: var(--button-secondary-background-hover);
        transition: background 0.2s;
      }

      &:active {
        color: var(--button-secondary-pressed);
        border-color: var(--button-secondary-border-pressed);
        background-color: var(--button-secondary-background-pressed);
      }
    }

    &.tertiary {
      color: var(--button-tertiary);
      border: none;
      background-color: transparent;

      &:hover {
        color: var(--button-tertiary-hover);
        transition: background 0.2s;
      }

      &:active {
        color: var(--button-tertiary-pressed);
      }

      &.link {
        color: var(--button-link);

        &:hover {
          color: var(--button-link-hover);
          transition: background 0.2s;
        }

        &:active {
          color: var(--button-link-pressed);
        }
      }
    }

    &.ghost {
      color: var(--button-ghost);
      border: 1px solid var(--button-ghost-border);
      background-color: var(--button-ghost-background);

      &:hover {
        color: var(--button-secondary-hover);
        border-color: var(--button-secondary-border-hover);
        background-color: var(--button-ghost-background-hover);
        transition: background 0.2s;
      }

      &:active {
        color: var(--button-secondary-pressed);
        border-color: var(--button-secondary-border-pressed);
        background-color: var(--button-ghost-background-pressed);
      }
    }

    &:disabled,
    &[disabled] {
      color: var(--button-disabled);
      background-color: var(--button-disabled-background);
      pointer-events: none;
    }

    &.icon {
      &.icon-right {
        padding-right: $padding-thin;
      }

      &.icon-left {
        padding-left: $padding-thin;
      }

      &.icon-only {
        min-width: 0;

        i {
          margin: 0;
        }
        &.small {
          width: 20px;
        }
      
        &.medium {
          padding: $padding-thin;
          width: 24px;
        }
      
        &.large {
          width: 32px;
        }
      }
    }
  }
}
