@mixin alb-checkbox() {

  :root {
    @import '../../core/design-tokens/color.scss';

    --checkbox-color: #{$color-border-regular};
    --checkbox-color-disabled: #{$color-border-light};
    --checkbox-color-checked: #{$color-brand-regular};
    --checkbox-color-checked-disabled: #{$color-brand-lighter};

    --checkbox-text: #{$color-info-hard};
    --checkbox-color-text-disabled: #{$color-border-regular};
  }

  [theme="dark"]:root {
    @import '../../core/design-tokens/color-dark.scss';
    
    --checkbox-color: #{$color-border-dark};
    --checkbox-color-disabled: #{$color-disable-mild};
    --checkbox-color-checked: #{$color-brand-regular};
    --checkbox-color-checked-disabled: #{$color-disable-mild};

    --checkbox-text: #{$color-info-hard};
    --checkbox-color-text-disabled: #{$color-info-mild};
  }

  .alb-checkbox {
    z-index: 0;
    position: relative;
    display: inline-block;
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    line-height: 1.79;
  }

  .alb-checkbox-container {
    align-self: center;
  }

  /* Input */
  .alb-checkbox-input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
  }

  /* Span */
  .alb-checkbox-span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    color: var(--checkbox-text);
  }

  /* Box */
  .alb-checkbox-span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px; /* Safari */
    border-color: var(--checkbox-color);
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
  }

  /* Checkmark */
  .alb-checkbox-span::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 1px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
  }

  /* Checked */
  .alb-checkbox-input:checked {
    background-color: var(--santas);
  }

  .alb-checkbox-input:checked + span::before {
    border-color: var(--checkbox-color-checked);
    background-color: var(--checkbox-color-checked);
  }

  .alb-checkbox-input:checked + span::after {
    border-color: var(--white);
  }

  .alb-checkbox-input:indeterminate + span::after {
    border-left: none;
    transform: translate(4px, 3px);
  }

  /* Indeterminate */
  .alb-checkbox-input:indeterminate {
    background-color: var(--checkbox-color-checked);
  }

  .alb-checkbox-input:indeterminate + span::before {
    border-color: var(--checkbox-color-checked);
    background-color: var(--checkbox-color-checked);
  }

  .alb-checkbox-input:indeterminate + span::after {
    border-color: var(--white);
    transform: none;
    border-left: none;
    top: 6px;
    left: 5px;
  }

  /* Disabled */
  .alb-checkbox-input:disabled {
    opacity: 0;
  }

  .alb-checkbox-input:disabled + span {
    cursor: initial;
    color: var(--checkbox-color-text-disabled);
  }

  .alb-checkbox-input:disabled + span::before {
    border-color: var(--checkbox-color-disabled);
  }

  .alb-checkbox-input:checked:disabled + span::before,
  .alb-checkbox-input:indeterminate:disabled + span::before {
    border-color: var(--checkbox-color-checked-disabled);
    background-color: var(--checkbox-color-checked-disabled);
  }
}
