.albert-tooltip {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  background-color: var(--accent);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
