@mixin alb-tree() {
    .p-treenode-content {
        &:focus {
            box-shadow: none !important;
        }

        &:hover {
            background-color: #f4f6f8 !important;
        }

        &[aria-expanded="true"] {
            font-weight: bold !important;
        }

        &[aria-selected="true"] {
            background-color: #f0f0f4 !important;
            color: #fa4616 !important;
            &:focus {
                background-color: #f0f0f4 !important;
                color: #fa4616;
                font-weight: bold;
                outline: none !important;
                border-radius: 4px;
                border-left: 3px #fa4616 solid;
                box-shadow: none !important;
            }

            button {
                &:hover {
                    background-color: transparent !important;
                }

                &:focus {
                    box-shadow: none !important;
                }
            }
        }
    }
}
