.itens {
  border: 1px solid var(--border);
  padding: 20px;

  &:hover {
    border: 1px solid black;
    background-color: var(--hover);
  }
}

.active {
  border: 1px solid black;
  background-color: var(--hover);
}


.list-detail {
  height: calc(100vh - 300px);
  overflow-y: scroll;
}

footer {
  width: 50%;
  text-align: end;
  float: right;
}

.text {
  margin-top: 1em;
}
