<alb-body>
  <h1 alb-drawer-title>{{ "chaveDict.titulo.edicao" | t }}</h1>
  <app-drawer-content>
    <form [formGroup]="formData">
      <div class="alb-divisor --one">
        <div class="width-100">
          <app-situacao-chave-dropdown [placeholder]="'chaveDict.campo.situacao' | t"
                                            formControlName="situacao"
                                            [idSelecionado]="controls.situacao.value">
          </app-situacao-chave-dropdown>
        </div>
      </div>
      <div style="display: flex; justify-content: end; padding-top: 24px">
        <button
          alb-button
          type="primary"
          (click)="onEditarChaveDict()"
          [disabled]="formData.invalid"
          *segFuncao="seg.CHA_BTN_EDITAR"
          [track]="seg.CHA_BTN_EDITAR"
          >
          {{ "chaveDict.botao.salvar" | t }}
        </button>
      </div>
    </form>
  </app-drawer-content>
</alb-body>
