<p-table class="alb-table" [value]="rows$ | async" [scrollable]="true">
  <ng-template pTemplate="colgroup">
    <col class="sq-col-sm" />
    <col class="sq-col-md" />
  </ng-template>

  <ng-template pTemplate="header" let-transacoes>
    <tr class="--text-left">
      <th>{{ "campo.data" | t }}</th>
      <th>{{ "campo.estadoTransacao" | t }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-value let-transacao>
    <tr>
      <td>{{ transacao.data | dateTime }}</td>
      <td>{{ transacao.estadoTransacao }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td colspan="2" class="text-center">
        {{ "validacoes.nenhumaInformacao" | t }}
      </td>
    </tr>
  </ng-template>
</p-table>
