<div class="table">
  <p-table class="alb-table" [value]="data" rowHover="true" [scrollable]="true">
    <ng-template pTemplate="colgroup">
      <col class="sq-col-xxs">
      <col class="sq-col-xxs">
      <col class="sq-col-xs">
      <col class="sq-col-sm">
      <col class="sq-col-sm">
      <col class="sq-col-md">
      <col class="sq-col-sm">
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th id="detalhe"></th>
        <th id="icone"></th>
        <th id="numero">{{ 'campo.numero' | t }}</th>
        <th id="dataReferencia">{{ 'campo.dataReferencia' | t }}</th>
        <th id="dataHoraInclusao">{{ 'campo.dataHoraInclusao' | t }}</th>
        <th id="ocorrencia" >{{ 'campo.ocorrencia' | t }}</th>
        <th id="sistema">{{ 'campo.sistema' | t }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-logWebhook>
      <tr [ngClass]="{ 'selecionado': logWebhook === selected }">
        <td (click)="$event.stopPropagation()">
          <button alb-button-icon icon="remove_red_eye" (click)="onDetalhe(logWebhook)" pure></button>
        </td>
        <td>
          <ng-container [ngSwitch]="logWebhook.tipoOcorrencia">
            <button alb-button-icon class="error" icon="error" pure *ngSwitchCase="tipoAlerta.Erro"></button>
            <button alb-button-icon class="warning" icon="warning" pure *ngSwitchCase="tipoAlerta.Aviso"></button>
            <button alb-button-icon class="info" icon="info" pure *ngSwitchCase="tipoAlerta.Informacao"></button>
          </ng-container>
        </td>
        <td>{{ logWebhook.numSequencia }}</td>
        <td>{{ logWebhook.dataReferencia |  date: 'shortDate'  }}</td>
        <td>{{ logWebhook.dataHoraInclusao |  dateTime  }}</td>
        <td>{{ logWebhook.dscOcorrencia  }}</td>
        <td>{{ logWebhook.sistema  }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7" class="text-center">{{ 'validacoes.nenhumaInformacao' | t }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>