<alb-body *segFuncao="seg.COD_MENU">
  <h1>{{'titulo.consultaDetalhada' | t}}</h1>

  <alb-accordion icon="filter_list" [open]="true" [title]="'titulo.pesquisar' | t">
    <form [formGroup]="filtroForm">

      <div class="alb-divisor">
        <alb-box class="consulta-detalhada-mensagem-container width-25">
          <app-consulta-detalhada-mensagem (mensagensSelecionadas)="atualizarFiltro($event)"
            [mensagens]="listarMensagens$ | async"></app-consulta-detalhada-mensagem>
        </alb-box>

        <div class="date-filter-table-container width-75">
          <div class="alb-divisor">
            <div class="width-30">
              <alb-datepicker placeholder="{{'campo.de' | t}}" formControlName="dataInicio"></alb-datepicker>
            </div>
            <div class="width-30">
              <alb-datepicker placeholder="{{'campo.ate' | t}}" formControlName="dataFim"></alb-datepicker>
            </div>
          </div>

          <alb-box>
            <p-table class="alb-table" rowHover="true" [scrollable]="true" [value]="camposFiltro" formArrayName="campos"
              scrollHeight="calc(100vh - 460px)">
              <ng-template pTemplate="colgroup">
                <col class="sq-col-sm">
                <col class="sq-col-xs">
                <col class="sq-col-sm">
                <col class="sq-col-xs">
                <col class="sq-col-sm">
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th> {{'campo.campo' | t}} </th>
                  <th> {{'campo.operador' | t}} </th>
                  <th> {{'campo.valor' | t}} </th>
                  <th> {{'campo.operador' | t}} </th>
                  <th> {{'campo.valor' | t}} </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-campo let-i="rowIndex">
                <tr [formGroupName]="i">
                  <td>{{ campo.descricao }}</td>
                  <td>
                    <ng-select class="alb-ng-select" formControlName="operadorInicio" bindValue="value"
                      bindLabel="label" [items]="operadores" [clearable]="true">
                    </ng-select>
                  </td>

                  <td>
                    <app-consulta-campo-filtro formControlName="valorInicio" [campo]="campo">
                    </app-consulta-campo-filtro>
                  </td>

                  <td>
                    <ng-select class="alb-ng-select" formControlName="operadorFim" bindValue="value" bindLabel="label"
                      [items]="operadores" [clearable]="true">
                    </ng-select>
                  </td>

                  <td>
                    <app-consulta-campo-filtro formControlName="valorFim" [campo]="campo">
                    </app-consulta-campo-filtro>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                  <td colspan="8" class="text-center">
                    {{'validacoes.selecioneMensagem' | t}}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </alb-box>

          <div class="action-button">
            <button alb-button (click)="onPesquisar()">
              {{'botao.pesquisar' | t }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </alb-accordion>

  <alb-box>
    <header>
      <aside>
        <button alb-button type="secondary" (click)="onExportarExcel()" *segFuncao="seg.COD_BTN_EXPORTAR" [track]="seg.COD_BTN_EXPORTAR">
          {{'botao.exportar' | t}}
        </button>
      </aside>
    </header>

    <section *ngIf="ds">

      <p-table class="alb-table" rowHover="true" [scrollable]="true" [paginator]="true" [sq-data-source]="ds">
        <ng-template pTemplate="colgroup">
          <col class="sq-col-xs">
          <col class="sq-col-sm">
          <col class="sq-col-sm">
          <col class="sq-col-xs">
          <col class="sq-col-sm">
          <col class="sq-col-xs">
          <col class="sq-col-sm">
          <col class="sq-col-md">
          <col class="sq-col-sm">
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th></th>
            <th> {{ 'campo.estadoTransacao' | t }} </th>
            <th> {{ 'campo.situacaoMensagem' | t }} </th>
            <th> {{ 'campo.mensagem' | t }} </th>
            <th class="text-center"> {{ 'campo.inclusao' | t }} </th>
            <th class="text-center"> {{ 'campo.dataMovimento' | t }} </th>
            <th class="text-end"> {{ 'campo.valorFinanceiro' | t }} </th>
            <th> {{ 'campo.composicaoOperacao' | t }} </th>
            <th> {{ 'campo.operacaoBancaria' | t }} </th>
          </tr>
        </ng-template>


        <ng-template pTemplate="body" let-mensagem>
          <tr>
            <td>
              <button alb-button-icon icon="remove_red_eye" (click)="onAbrirDrawerMensagem(mensagem)" pure></button>
            </td>
            <td> {{ mensagem.estadoTransacao }} </td>
            <td> {{ mensagem.situacaoMensagem }} </td>
            <td> {{ mensagem.idMensagem }} </td>
            <td class="text-center"> {{ mensagem.dataInclusao | dateTime }} </td>
            <td class="text-center"> {{ mensagem.dataMovimento | date: 'shortDate' }} </td>
            <td class="text-end"> {{ mensagem.valorFinanceiro | valorFinanceiro }} </td>
            <td> {{ mensagem.composicaoOperacao }} </td>
            <td> {{ mensagem.operacaoBancaria }} </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td colspan="9" class="text-center">
              {{ 'validacoes.nenhumaInformacao' | t }}
            </td>
          </tr>
        </ng-template>
      </p-table>

    </section>
  </alb-box>


</alb-body>
