<ng-container *ngIf="formTableFilter">
  <p-table class="alb-table" [scrollable]="true" [paginator]="true" [sq-data-source]="ds">
    <ng-template pTemplate="colgroup">
      <col class="sq-col-xs">
      <col class="sq-col-xs">
      <col class="sq-col-sm">
      <col class="sq-col-md">
      <col class="sq-col-md">
      <col class="sq-col-lg">
      <col class="sq-col-lg">
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th></th>
        <th>{{ 'campo.numero' | t }}</th>
        <th>{{ 'campo.dataReferencia' | t }}</th>
        <th>{{ 'campo.dataInclusao' | t }}</th>
        <th>{{ 'campo.ocorrencia' | t }}</th>
        <th>{{ 'campo.sistema' | t }}</th>
      </tr>
      <tr class="filter-row" [formGroup]="formTableFilter">
        <th></th>
        <th></th>
        <th>
          <alb-number formControlName="numeroSequencia" [allowNegative]="false"></alb-number>
        </th>
        <th></th>
        <th>
          <alb-datepicker formControlName="dataInclusao"></alb-datepicker>
        </th>
        <th>
          <app-ocorrencia-dropdown formControlName="ocorrencia" placeholder="{{'campo.ocorrencia' | t }}">
          </app-ocorrencia-dropdown>
        </th>
        <th>
          <app-sistema-dropdown formControlName="sistema" placeholder="{{'campo.sistema' | t }}">
          </app-sistema-dropdown>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-ocorrencia>
      <tr [pSelectableRow]="ocorrencia">
        <td (click)="$event.stopPropagation()">
          <button alb-button-icon icon="remove_red_eye" (click)="onVisualizarOcorrencia(ocorrencia)" pure></button>
        </td>
        <td>
          <button alb-button-icon [icon]="iconeOptions.iconeTipo" [class]="iconeOptions.classeCor" pure></button>
        </td>
        <td>{{ ocorrencia.numeroSequencia }}</td>
        <td>{{ ocorrencia.dataReferencia | date: 'shortDate'}}</td>
        <td>{{ ocorrencia.dataInclusao | dateTime }}</td>
        <td>{{ ocorrencia.ocorrencia }}</td>
        <td>{{ ocorrencia.sistema }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7" class="text-center">{{ 'validacoes.nenhumaInformacao' | t }}</td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
