<alb-body *segFuncao="seg.ASS_MENU">
  <app-drawer-content>
    <form [formGroup]="formData">
      <div class="alb-divisor">
        <div class="width-50">
          <ng-select
          class="alb-ng-select"
          [placeholder]="'gruposUsuarios.titulo.gruposUsuarios' | t"
          [items]="gruposList"
          bindValue="idGrpUsu"
          bindLabel="dscGrpUsu"
          formControlName="grupo"
          clearable="true"
          >
        </ng-select>
        </div>
        <div class="width-50">
          <alb-input
            [placeholder]="'Valor até'"
            formControlName="valor"
            type="number"
          >
          </alb-input>
          <div class="error" *ngIf="controls.valor.errors?.pattern">
            {{'seg.mensagem.caracterinvalido_codigo_grupo' | t}}
          </div>
        </div>
      </div>
      <div style="display: flex; justify-content: end; padding-top: 24px">
        <button
          alb-button type="primary"
          [disabled]="formData.invalid"
          (click)="onSalvar()"
          >
          {{ "botao.salvar" | t }}
        </button>
      </div>
    </form>
  </app-drawer-content>
</alb-body>
