<alb-tab-group>
    <alb-tab label="{{ 'tabs.logOrquestrador' | t }}">
      <ng-template albTabBodyWrapper>
        <app-detalhe-log-orquestrador [mensagem]="mensagem"></app-detalhe-log-orquestrador>
      </ng-template>
    </alb-tab>

    <alb-tab [label]="'tabs.mensagemTransacao' | t">
      <ng-template albTabBodyWrapper>
        <app-detalhe-mensagem-transacao [mensagem]="mensagem"></app-detalhe-mensagem-transacao>
      </ng-template>
    </alb-tab>
    <!-- <alb-tab label="{{ 'tabs.informacaoAdicional' | t }}">
      <ng-template albTabBodyWrapper>
        <app-detalhe-info-adicionais [cobranca]="cobranca"></app-detalhe-info-adicionais>
      </ng-template>
    </alb-tab>
  
    <alb-tab label="{{ 'tabs.descontoDataFixa' | t }}">
      <ng-template albTabBodyWrapper>
        <app-detalhe-desc-data-fixa [cobranca]="cobranca"></app-detalhe-desc-data-fixa>
      </ng-template>
    </alb-tab>
  
    <alb-tab label="{{ 'tabs.logWebhook' | t }}">
      <ng-template albTabBodyWrapper>
        <app-detalhe-log-webhook [cobranca]="cobranca"></app-detalhe-log-webhook>
      </ng-template>
    </alb-tab> -->
  
  </alb-tab-group>
  