<p-table class="alb-table" [value]="rows | async" [scrollable]="true">
  <ng-template pTemplate="colgroup">
    <col class="sq-col-md">
    <col class="sq-col-md">
    <col class="sq-col-md">
  </ng-template>

  <ng-template pTemplate="header" let-trilhaAlcadaLiberacao>
    <tr class="--text-left">
      <th>{{'campo.dataHoraLiberacao' | t}}</th>
      <th>{{'campo.usuario' | t}}</th>
      <th>{{'campo.nivelHierarquico' | t}}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-value let-trilhaAlcadaLiberacao>
    <tr>
      <td> {{trilhaAlcadaLiberacao.dataHoraLiberacao | dateTime}} </td>
      <td> {{trilhaAlcadaLiberacao.usuario}} </td>
      <td> {{trilhaAlcadaLiberacao.nivelHierarquico}} </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td colspan="3" class="text-center">
        {{'validacoes.nenhumaInformacao' | t}}
      </td>
    </tr>
  </ng-template>
</p-table>
