<alb-body>
    <div class="grid-container">
      <div class="dados-gerais">
        <div class="title">
          <span>{{ 'titulo.dadosGerais' | t }}</span>
        </div>
        <div class="div__flex">
          <div class="label">
            <span>{{ 'campoAbreviado.numero' | t }}</span>
            <span>{{ pixNaoCreditado.numSequencia }}</span>
          </div>
          <div class="label">
            <span>{{ 'campo.data' | t }}</span>
            <span>{{ pixNaoCreditado.dataReferencia | date: 'shortDate'}}</span>
          </div>
          <div class="label">
            <span>{{ 'campo.dataInclusao' | t }}</span>
            <span>{{ pixNaoCreditado.dataHoraInclusao | dateTime }}</span>
          </div>
          <div class="label">
            <span>{{ 'campo.sistema' | t }}</span>
            <span>{{ pixNaoCreditado.sistema }}</span>
          </div>
        </div>
        <div class="div__flex">
        </div>
        <br/>
        <div class="label">
          <span>{{ 'campo.ocorrencia' | t }}</span>
          <span>{{ pixNaoCreditado.dscOcorrencia }}</span>
        </div>
        <br/>
        <div class="label">
          <span>{{ 'campo.nome' | t }}</span>
          <span>{{ pixNaoCreditado.nomUsu }}</span>
        </div>
      </div>
  
      <div class="descricao">
        <div class="title">
          <span>{{ 'titulo.descricao' | t }}</span>
        </div>
        <div class="descricao-conteudo">
          {{ pixNaoCreditado.dscLogOco }}
        </div>
      </div>
    </div>
  </alb-body>
  