<form [formGroup]="formulario">
  <div class="alb-divisor white" style="padding: 16px;">
    <div class="width-100">
      <alb-input [placeholder]="'campo.cepUsuRec' | t" maxLength="11" formControlName="cep"
        [mask]="{mask: '00.000-000'}"></alb-input>
    </div>
    <div class="width-100">
      <alb-input [placeholder]="'campo.logradouroUsuRec' | t" formControlName="logradouro"></alb-input>
    </div>
    <div class="width-100">
      <alb-input [placeholder]="'campo.cidadeUsuRec' | t" formControlName="cidade"></alb-input>
    </div>
    <div class="width-100">
      <ng-select [placeholder]="'campo.estadoUsuRec'| t" class="alb-ng-select" formControlName="estado">
        <ng-option *ngFor="let el of estados" [value]="el.id">{{el.descricao}}</ng-option>
      </ng-select>
    </div>

    <div class="footer action-button">
      <button alb-button type="primary" (click)="salvar()" [disabled]="formulario?.invalid">
        {{ "botao.salvar" | t }}
      </button>
    </div>

  </div>


</form>