<app-drawer-content>
  <h1 alb-drawer-title>Mensagens</h1>

  <div class="alerta-lista">
    <div class="alerta-item alb-divisor" *ngFor="let alerta of (alertas$ | async)" (click)="onAbrirAlerta(alerta)">

      <span class="width-10">
        <ng-container [ngSwitch]="alerta.tipoAlerta">
          <span class="alb-warn-color" *ngSwitchCase="tipoAlerta.Erro">
            <i class="alb-icon">error</i>
          </span>
          <span class="alb-alert-color" *ngSwitchCase="tipoAlerta.Aviso">
            <i class="alb-icon">warning</i>
          </span>
          <span class="info-alerta" *ngSwitchCase="tipoAlerta.Informacao">
            <i class="alb-icon">info</i>
          </span>
        </ng-container>
      </span>
      <div class="width-70 descricao">
        <span>{{alerta.descricao}}</span>
        <span>{{alerta.assunto}}</span>
      </div>
      <div class="width-20">{{alerta.mensagemRecebimento}}</div>
    </div>
    <div class="mais-info" (click)="exibirMais()">
      Exibir mais ...
    </div>
  </div>

</app-drawer-content>
