button {
  max-height: 100px;

  &[disabled] {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.05);
  }
}

.wrapper {
  display: flex;
  align-items: center;
}

.search-icon {
  width: 50px;
}

.description {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 0;
  width: calc(100% - 50px);

  .title {
    font-size: 0.7rem;
    color: var(--accent);
    margin: 0;
  }

  .content {
    font-size: 1.2rem;
    color: var(--accent);
    display: flex;
    justify-content: space-between;
  }

  .destaque {
    color: var(--alizarin-crimson) !important;
  }
}
