<div style="margin: 8px" [formGroup]="formData">
  <div class="alb-divisor">
    <div class="width-50">
      <alb-input [placeholder]="'campo.nomeUsuRec' | t" formControlName="nome"></alb-input>
    </div>
    <div class="width-50">
      <ng-select [placeholder]="'campo.sistema'| t" class="alb-ng-select" formControlName="sistema">
        <ng-option *ngFor="let el of sistemas" [value]="el.id">{{el.descricao}}</ng-option>
      </ng-select>
    </div>
    
    <h3>Donos de chaves</h3>

    <form [formGroup]="formDono">
      <div class="alb-divisor">
        <div class="width-70">
          <ng-select [placeholder]="'campo.donoUsuRec'| t" class="alb-ng-select" formControlName="idDono"
          (change)="mudouDono()">
          <ng-option *ngFor="let el of donos" [value]="el.idDono">{{el | donoChaveDict }}</ng-option>
          </ng-select>
        </div>
        <div class="width-15" style="padding-top: 8px; justify-content: center; display: flex;">
          <button alb-button type="secondary" (click)="adicionarEndereco()" [disabled]="donoInvalido || donoJaCadastrado">
            {{ "botao.endereco" | t }}
          </button>
        </div>
        <div class="width-15" style="padding-top: 8px; justify-content: center; display: flex;">
          <button alb-button type="primary" (click)="adicionarDono()" [disabled]="formDono?.invalid">
            {{ "botao.adicionarDono" | t }}
          </button>
        </div>
        <div class="width-100 error" *ngIf="!donoJaCadastrado && !donoInvalido && formDono?.invalid">
          {{'mensagem.informe_endereco'}}
        </div>
        <div class="width-100 error" *ngIf="donoJaCadastrado">
          {{'mensagem.dono_ja_cadastrado'}}
        </div>

      </div>
    </form>

    <div class="width-100">
      <app-usu-rec-formulario-donos [listaDonos]="donos" [donos]="donosToTable" [isNew]="isNew" [usuRec]="usuRec"></app-usu-rec-formulario-donos>
    </div>

  </div>
</div>