<p-table
  class="alb-table"
  [value]="lista | filter : filtro : 'nome' | sortBy: 'asc':'descricao'"
  [scrollable]="true"
  [rows]="numeroLinhas"
  [paginator]="true"
  [rowsPerPageOptions]="listaQuantidadeLinhas"
>
  <ng-template pTemplate="header">
    <tr>
      <th>{{'seg.campo.codigo' | t}}</th>
      <th>{{'seg.campo.grupo_nome' | t}}</th>
      <th style="width:8rem"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.nome }}</td>
      <td style="width:8rem" class="text-center">
        <button alb-button-icon icon="vpn_key" type="button" style="border: none;  background:transparent" (click)="onPermissoes(item)"
        *segFuncao="permissoes.SEG_PER_GRUPO" [track]="permissoes.SEG_PER_GRUPO">
        </button>
        <button alb-button-icon icon="edit" type="button" style="border: none;  background:transparent" (click)="onEdit(item)"
        *segFuncao="permissoes.SEG_EDI_GRUPO" [track]="permissoes.SEG_EDI_GRUPO">
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
