<alb-body>
  <h1 alb-drawer-title>Cobrança Imediata</h1>
    <app-drawer-content>
      <h1 alb-drawer-title>{{ txid }}</h1>
      <form [formGroup]="formData">
        <div class="alb-divisor two line3">

             <div class="width-50">
            <alb-input [disabled]="true" [placeholder]="'cob.campo.segExp' | t" formControlName="segExpiracao">
            </alb-input>
          </div>
  
          
  
          <div class="width-50">
            <alb-input [disabled]="true" [placeholder]="'cob.campo.modAlt' | t" formControlName="modalidadeAlteracao">
            </alb-input>
          </div>

           
          <div class="width-50">
            <alb-input  [disabled]="true"[placeholder]="'cob.campo.vrSq' | t" formControlName="valorSaque">
            </alb-input>
          </div>
          <div class="width-50">
            <alb-input [disabled]="true" [placeholder]="'cob.campo.mdSq' | t" formControlName="modalidadeSaque">
            </alb-input>
          </div>
  
          <div class="width-50">
            <alb-input [disabled]="true" [placeholder]="'cob.campo.facSq' | t" formControlName="facilitadorSaque">
            </alb-input>
          </div>
          <div class="width-50">
            <alb-input [disabled]="true" [placeholder]="'cob.campo.modAgenteSaque' | t" formControlName="modalidadeAgente">
            </alb-input>
          </div>

          <div class="width-50">
            <alb-input [disabled]="true" [placeholder]="'cob.campo.vrTro' | t" formControlName="valorTroco">
            </alb-input>
          </div>
          <div class="width-50">
            <alb-input [disabled]="true" [placeholder]="'cob.campo.modalidadeTroco' | t" formControlName="modalidadeTroco">
            </alb-input>
          </div>

          <div class="width-50">
            <alb-input [disabled]="true" [placeholder]="'cob.campo.facilitadorTroco' | t" formControlName="facilitadorTroco">
            </alb-input>
          </div>

          <div class="width-50">
            <alb-input [disabled]="true" [placeholder]="'cob.campo.mdAgTro' | t" formControlName="modAgenteTroco">
            </alb-input>
          </div>
  
        </div>
  
   
      </form>
    </app-drawer-content>
  </alb-body>
  