<alb-body *segFuncao="seg.BOL_MENU">
  <h1>{{ "titulo.boletagem" | t }}</h1>

  <alb-accordion
    icon="filter_list"
    [open]="false"
    [title]="'titulo.pesquisar' | t"
    *segFuncao="seg.BOL_SECAO_PESQUISA"
    [track]="seg.BOL_SECAO_PESQUISA"
  >
    <form [formGroup]="filtroForm">
      <div class="alb-divisor --six">
        <div>
          <alb-button-toggle-group>
            <alb-button-toggle
              checked
              (click)="filtrarMensagem = true; onTipo()"
              >{{ "campo.mensagem" | t }}</alb-button-toggle
            >
            <alb-button-toggle (click)="filtrarMensagem = false; onTipo()">{{
              "campo.grupoMensagem" | t
            }}</alb-button-toggle>
          </alb-button-toggle-group>
          <span *ngIf="filtrarMensagem === true">
            <app-mensagem-dropdown
              formControlName="mensagem"
              [placeholder]="'campo.mensagens' | t"
              [clearable]="true"
            ></app-mensagem-dropdown>
          </span>
          <span *ngIf="filtrarMensagem === false">
            <app-mensagem-dropdown
              formControlName="mensagem"
              [placeholder]="'campo.grupoMensagem' | t"
              [clearable]="true"
              [groupMensagem]="true"
            ></app-mensagem-dropdown>
          </span>
        </div>
        <div>
          <alb-number
            [placeholder]="'campo.valorInicial' | t"
            formControlName="valorInicio"
            [decimalLength]="2"
            [length]="14"
            [decimal]="true"
            [allowNegative]="true"
          ></alb-number>
        </div>
        <div>
          <alb-number
            [placeholder]="'campo.valorAte' | t"
            formControlName="valorFim"
            [decimalLength]="2"
            [length]="14"
            [decimal]="true"
            [allowNegative]="true"
          ></alb-number>
        </div>
        <div>
          <app-situacao-mensagem-dropdown
            [placeholder]="'campo.situacaoMensagem' | t"
            formControlName="idSituacaoMensagem"
            clearable="true"
          ></app-situacao-mensagem-dropdown>
        </div>
        <div class="sq-col-dt">
          <alb-datepicker
            formControlName="dataReferenciaInicio"
            [placeholder]="'campo.de' | t"
          ></alb-datepicker>
        </div>
        <div class="sq-col-dt">
          <alb-datepicker
            formControlName="dataReferenciaFim"
            [placeholder]="'campo.ate' | t"
          ></alb-datepicker>
        </div>
        <div>
          <app-canal-mensagem-dropdown
            formControlName="canalMensagem"
            [clearable]="true"
            [placeholder]="'campo.canalMensagem' | t"
          ></app-canal-mensagem-dropdown>
        </div>
        <div>
          <alb-input
            formControlName="cpfCnpjRecebedor"
            [placeholder]="'campo.numCpfRec' | t"
          ></alb-input>
        </div>
        <div>
          <alb-input
            formControlName="cpfCnpjPagador"
            [placeholder]="'campo.numCpfDev' | t"
          ></alb-input>
        </div>
        <div>
          <alb-input
            formControlName="nomePagador"
            [placeholder]="'campo.nomePagador' | t"
          ></alb-input>
        </div>
      </div>
      <div class="aside-accordion">
        <button
          alb-button
          color="primary"
          (click)="onPesquisar()"
          color="accent"
        >
          {{ "botao.pesquisar" | t }}
        </button>
      </div>
    </form>
  </alb-accordion>

  <alb-tab-group (selectedTabChange)="onTrocarTab($event)" class="white">
    <alb-tab
      [label]="'tabs.modelo' | t"
      [id]="0"
      *segFuncao="seg.BOL_TAB_MODELO"
      [track]="seg.BOL_TAB_MODELO"
    >
      <ng-template albTabBodyWrapper>
        <app-boletagem-lista
          [isModelo]="true"
          [filtro]="filtro$ | async"
          [tipoBoletagem]="TipoBoletagem.PRE_BOLETO"
          (selecionados)="onSelecionados($event)"
          (mensagemSelecionada)="onMensagensSelecionadas($event)"
          (keyPressed)="pesquisarByKey()"
        >
        </app-boletagem-lista>
      </ng-template>
    </alb-tab>
    <alb-tab
      [label]="'tabs.preBoleto' | t"
      [id]="TipoBoletagem.PRE_BOLETO"
      *segFuncao="seg.BOL_TAB_PRE_BOLETO"
      [track]="seg.BOL_TAB_PRE_BOLETO"
    >
      <ng-template albTabBodyWrapper>
        <app-boletagem-lista
          [filtro]="filtro$ | async"
          [tipoBoletagem]="TipoBoletagem.PRE_BOLETO"
          (selecionados)="onSelecionados($event)"
          (mensagemSelecionada)="onMensagensSelecionadas($event)"
          (keyPressed)="pesquisarByKey()"
        >
        </app-boletagem-lista>
      </ng-template>
    </alb-tab>
    <alb-tab
      [label]="'tabs.bloqueado' | t"
      [id]="TipoBoletagem.BLOQUEADO"
      *segFuncao="seg.BOL_TAB_BLOQUEADO"
      [track]="seg.BOL_TAB_BLOQUEADO"
    >
      <ng-template albTabBodyWrapper>
        <app-boletagem-lista
          [filtro]="filtro$ | async"
          [tipoBoletagem]="TipoBoletagem.BLOQUEADO"
          (selecionados)="onSelecionados($event)"
          (mensagemSelecionada)="onMensagensSelecionadas($event)"
          (keyPressed)="pesquisarByKey()"
        >
        </app-boletagem-lista>
      </ng-template>
    </alb-tab>
    <alb-tab
      [label]="'tabs.liberada' | t"
      [id]="TipoBoletagem.LIBERADA"
      selected
      *segFuncao="seg.BOL_TAB_LIBERADA"
      [track]="seg.BOL_TAB_LIBERADA"
    >
      <ng-template albTabBodyWrapper>
        <app-boletagem-lista
          [filtro]="filtro$ | async"
          [tipoBoletagem]="TipoBoletagem.LIBERADA"
          (selecionados)="onSelecionados($event)"
          (mensagemSelecionada)="onMensagensSelecionadas($event)"
          (keyPressed)="pesquisarByKey()"
          [exibirDetalhes]="exibirDetalhes"
        >
        </app-boletagem-lista>
      </ng-template>
    </alb-tab>

    <div aside class="acoes">
      <alb-slide-toggle [label]="'botao.exibeDetalhesPagamento' | t"
        (change)="onToggleChange($event)">
      </alb-slide-toggle>
      <button
        alb-button-icon
        icon="play_arrow"
        type="button"
        (click)="start()"
        [hidden]="isRefreshing"
        pure
        *segFuncao="seg.BOL_BTN_PLAY"
        [track]="seg.BOL_BTN_PLAY"
      ></button>
      <button
        alb-button-icon
        icon="pause"
        type="button"
        (click)="stop()"
        [hidden]="!isRefreshing"
        pure
        *segFuncao="seg.BOL_BTN_REFRESH"
        [track]="seg.BOL_BTN_REFRESH"
      ></button>
      <button
        alb-button-icon
        icon="autorenew"
        type="button"
        [class.dashboard-refresh-control__refresh]="isRefreshing"
        *segFuncao="seg.BOL_BTN_REFRESH"
        [track]="seg.BOL_BTN_REFRESH"
        (click)="refreshNow()"
        pure
      ></button>

      <button
        class="divisor-button"
        alb-button-icon
        icon="print"
        (click)="onGerarPdf()"
        *segFuncao="seg.BOL_BTN_PRINT"
        [track]="seg.BOL_BTN_PRINT"
      ></button>

      <div *segFuncao="seg.BOL_BTN_EXPORTAR">
        <button
          alb-button
          type="secondary"
          class="divisor-button dropdown-toggle"
          [ngClass]="{'dropdown-open': dropdownOpen, 'dropdown-closed': !dropdownOpen}"
          (click)="toggleDropdown()"
        >
          {{ "botao.exportarTodos" | t }}
        </button>
        <ul class="dropdown-menu" [class.show]="dropdownOpen">
          <li>
            <button [track]="seg.BOL_BTN_EXPORTAR"
              class="dropdown-item"
              (click)="onExportarExcel()"
            >
            {{ "botao.exportarXLS" | t }}
            </button>
          </li>
          <li>
            <button [track]="seg.BOL_BTN_EXPORTAR"
            class="dropdown-item"
            (click)="onExportarExcelAssincrono()"
            >
            {{ "botao.enviarEmail" | t }}
            </button>
        </li>
        </ul>
      </div>

      <button
        alb-button
        type="secondary"
        (click)="onPesquisar()"
        class="divisor-button"
        *segFuncao="seg.BOL_BTN_EXECUTAR_FILTROS"
        [track]="seg.BOL_BTN_EXECUTAR_FILTROS"
      >
        {{ "botao.executarFiltros" | t }}
      </button>
      <button
        alb-button
        type="primary"
        (click)="onNovoBoleto()"
        class="divisor-button"
        *segFuncao="seg.BOL_BTN_NOVO"
        [track]="seg.BOL_BTN_NOVO"
      >
        {{ "botao.novo" | t }}
      </button>
      <alb-menu
        class="divisor-button"
        *segFuncoes="[
          seg.BOL_BTN_CANCELAR,
          seg.BOL_BTN_ALTERAR_PRIORIDADE,
          seg.BOL_BTN_VERIFICAR_MENSAGEM,
          seg.BOL_BTN_LIBERAR,
          seg.BOL_BTN_EXCLUIR,
          seg.BOL_BTN_OPCOES
        ]"
      >
        <alb-menu-item
          [disabled]="
            selecionados.length === 0 ||
            (boletagemTab !== TipoBoletagem.BLOQUEADO &&
              boletagemTab !== TipoBoletagem.LIBERADA)
          "
          (click)="onCancelarTransacoes()"
          *segFuncao="seg.BOL_BTN_CANCELAR"
          [track]="seg.BOL_BTN_CANCELAR"
        >
          <ng-template albMenuTemplate>{{ "botao.cancelar" | t }}</ng-template>
        </alb-menu-item>
        <alb-menu-item
          [disabled]="selecionados.length === 0"
          (click)="onAlterarPrioridade()"
          *segFuncao="seg.BOL_BTN_ALTERAR_PRIORIDADE"
          [track]="seg.BOL_BTN_ALTERAR_PRIORIDADE"
        >
          <ng-template albMenuTemplate>{{
            "botao.alterarPrioridade" | t
          }}</ng-template>
        </alb-menu-item>
        <alb-menu-item
          [disabled]="
            selecionados.length === 0 ||
            (boletagemTab !== TipoBoletagem.BLOQUEADO &&
              boletagemTab !== TipoBoletagem.LIBERADA)
          "
          (click)="onVerificarMensagens()"
          *segFuncao="seg.BOL_BTN_VERIFICAR_MENSAGEM"
          [track]="seg.BOL_BTN_VERIFICAR_MENSAGEM"
        >
          <ng-template albMenuTemplate>{{
            "botao.verificarMensagem" | t
          }}</ng-template>
        </alb-menu-item>
        <alb-menu-item
          [disabled]="
            selecionados.length === 0 ||
            boletagemTab !== TipoBoletagem.PRE_BOLETO
          "
          (click)="onLiberarTransacoes()"
          *segFuncao="seg.BOL_BTN_LIBERAR"
          [track]="seg.BOL_BTN_LIBERAR"
        >
          <ng-template albMenuTemplate>{{ "botao.liberar" | t }}</ng-template>
        </alb-menu-item>
        <alb-menu-item
          [disabled]="
            selecionados.length === 0 ||
            boletagemTab === TipoBoletagem.LIBERADA ||
            boletagemTab === TipoBoletagem.BLOQUEADO
          "
          (click)="onExcluirTransacoes()"
          *segFuncao="seg.BOL_BTN_EXCLUIR"
          [track]="seg.BOL_BTN_EXCLUIR"
        >
          <ng-template albMenuTemplate>{{ "botao.excluir" | t }}</ng-template>
        </alb-menu-item>
        <alb-menu-item (click)="onOpcoes()" *segFuncao="seg.BOL_BTN_OPCOES"  [track]="seg.BOL_BTN_OPCOES">
          <ng-template albMenuTemplate>{{ "botao.opcoes" | t }}</ng-template>
        </alb-menu-item>
      </alb-menu>
    </div>
  </alb-tab-group>
  <ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
</alb-body>
