<alb-body *segFuncao="seg.GRP_MENU">
  <form [formGroup]="form">
    <div class="alb-divisor --two line3">
      <div class="width-30">
        <alb-input
          [placeholder]="'campo.usuario' | t"
          formControlName="usuario"
          >
        </alb-input>
      </div>
      <div class="width-30"></div>

      <div class="width-70">
        <ng-select
          class="alb-ng-select"
          [placeholder]="'gruposUsuarios.titulo.gruposUsuarios' | t"
          [items]="gruposLista"
          bindValue="idGrpUsu"
          bindLabel="dscGrpUsu"
          formControlName="grupo"
          clearable="true"
        >
        </ng-select>
      </div>
      <div style="margin-top: auto" class="width-30 text-end">
        <button
          alb-button
          type="primary"
          style="margin-right: 5px"
          (click)="onAdicionarGrupoUsuario()"
          *segFuncao="seg.GRP_BTN_ADICIONAR"
          [track]="seg.GRP_BTN_ADICIONAR"
        >
          {{ "botao.adicionar" | t }}
        </button>
        <button
          alb-button
          type="primary"
          (click)="onSave()"
          >
          {{ "botao.salvar" | t }}
        </button>
      </div>
    </div>
  </form>

  <p-table
    frozenWidth="80"
    class="alb-table"
    [value]="gruposUsuario"
    [scrollable]="true"
    [rows]="10"
    [paginator]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>{{ "composicaoGprUsu.campo.gruposAssociados" | t }}</th>
        <th style="width: 8rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.dscGrpUsu }}</td>
        <td style="width: 8rem" class="text-end">
          <button
            alb-button-icon
            icon="delete"
            type="button"
            (click)="onDelete(item)"
            pure
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div style="display: flex; justify-content: end; padding-top: 24px"></div>
</alb-body>
