<div class="alb-divisor --two button">
  <div class="titulo">{{'titulo.recebimento' | t}}</div>
  <div class="reprocessar">
    <button alb-button [disabled]="ds.selection.isEmpty()" (click)="onReprocessar()" color="accent"  *segFuncao="seg.REP_BTN_RECEBIMENTO"  [track]="seg.REP_BTN_RECEBIMENTO">
      {{'botao.reprocessar' | t }}
    </button>
  </div>
</div>

<div class="reprocessamento-list">
  <p-table class="alb-table" rowHover="true" [scrollable]="true" [sq-data-source]="ds">
    <ng-template pTemplate="colgroup">
      <col class="sq-col-xxs">
      <col class="sq-col-xxs">
      <col class="sq-col-xs">
      <col class="sq-col-sm">
      <col class="sq-col-md">
      <col class="sq-col-sm">
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>
          <ng-container *ngIf="ds?.data$ | async as mensagens">
            <alb-checkbox
              (change)="ds.selectAllToggle(mensagens)"
              [value]="ds.selection.hasValue() && ds.isAllSelected(mensagens)"
              [indeterminate]="ds.selection.hasValue() && !ds.isAllSelected(mensagens)">
            </alb-checkbox>
          </ng-container>
        </th>
        <th></th>
        <th>{{'campo.sequencial' | t}}</th>
        <th class="text-center">{{'campo.dataInclusao' | t}}</th>
        <th>{{'campo.identificadorMensagem' | t}}</th>
        <th>{{'campo.emissor' | t}}</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-mensagem>
      <tr>
        <td>
          <alb-checkbox (change)="ds.selection.toggle(mensagem)"
            [value]="ds.selection.isSelected(mensagem)">
          </alb-checkbox>
        </td>
        <td (click)="$event.stopPropagation()">
          <button class="alb-icon-size" alb-button-icon icon="remove_red_eye" (click)="onVisualizarXml(mensagem)" pure>
          </button>
        </td>
        <td>{{mensagem.numeroSequencialMensagem}}</td>
        <td class="text-center">{{mensagem.dataHoraInclusao | dateTime}}</td>
        <td>{{mensagem.idMensagemRecebida}}</td>
        <td>{{mensagem.siglaTipoEmissorDestinatario}}</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td colspan="3" class="text-center">
          {{'validacoes.nenhumaInformacao' | t}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
