<alb-body *segFuncao="seg.CHA_MENU">
  <h1>{{ 'titulo.chaveDeEnderecamento' | t }}</h1>

  <alb-accordion icon="filter_list" [open]="true" [title]="'titulo.pesquisar' | t">
    <form [formGroup]="filtroForm">
      <div class="alb-divisor --four">
        <alb-input [placeholder]="'campo.chave' | t" formControlName="chaveDict" autocomplete="off">
        </alb-input>

        <app-chave-dropdown [placeholder]="'campo.tipoChave' | t" formControlName="idTipoChaveDict" [clearable]="true">
        </app-chave-dropdown>

        <app-dono-dropdown [placeholder]="'campo.tipoDono' | t" formControlName="idTipoDono" [clearable]="true">
        </app-dono-dropdown>

        <sq-cpf-cnpj-input [placeholder]="'campo.documento' | t" formControlName="documento" autocomplete="off">
        </sq-cpf-cnpj-input>

        <alb-input [placeholder]="'campo.nomeDono' | t" formControlName="nomeDono" autocomplete="off">
        </alb-input>

        <app-conta-dropdown [placeholder]="'campo.tipoConta' | t" formControlName="idTipoConta" [clearable]="true">
        </app-conta-dropdown>

        <alb-number [placeholder]="'campo.agencia' | t" formControlName="agencia" [allowNegative]="false"></alb-number>

        <alb-number [placeholder]="'campo.conta' | t" formControlName="numeroConta" [allowNegative]="false">
        </alb-number>

        <app-situacao-chave-dropdown [placeholder]="'campo.situacao' | t" formControlName="idSituacao" [clearable]="true">
        </app-situacao-chave-dropdown>

        <div class="width-25">
          <ng-select class="alb-ng-select" [placeholder]="'campo.ativo' | t" [items]="tipoAtivoList" bindValue="value"
            bindLabel="label" formControlName="ativo" clearable="true">
          </ng-select>
        </div>
      </div>

      <div class="action-button">
        <button alb-button (click)="ds.filter()" color="accent">
          {{'botao.pesquisar' | t }}
        </button>
      </div>
    </form>
  </alb-accordion>

  <alb-box>
    <p-table [sq-data-source]="ds" class="alb-table" rowHover="true" [scrollable]="true" [paginator]="true">
      <ng-template pTemplate="colgroup">
        <col class="sq-col-sm"> <!-- id -->
        <col class="sq-col-md"> <!-- chave enderecamento -->
        <col class="sq-col-md"> <!-- situacao -->
        <col class="sq-col-sm"> <!-- tipo chave -->
        <col class="sq-col-xs"> <!-- agencia -->
        <col class="sq-col-sm"> <!-- numero da conta -->
        <col class="sq-col-sm"> <!-- tipo de conta -->
        <col class="sq-col-sm"> <!-- tipo de dono -->
        <col class="sq-col-sm"> <!-- identificacao do dono -->
        <col class="sq-col-md"> <!-- nome dono -->
        <col class="sq-col-md"> <!-- nome fantasia dono -->
        <col class="sq-col-sm"> <!-- motivo -->
        <col class="sq-col-md"> <!-- identificador de requisicao -->
        <col class="sq-col-sm"> <!-- data de criacao -->
        <col class="sq-col-sm"> <!-- data do dono -->
        <col class="sq-col-xs"> <!-- flag ativo -->
        <col class="sq-col-sm"> <!-- data ult manutencao -->
        <col class="sq-col-sm"> <!-- usuario ultima manutencao -->
        <col class="sq-col-md"> <!-- cid -->
        <col class="sq-col-sm"> <!-- data de abertura -->
        <col class="sq-col-sm"> <!-- botao -->
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th>{{'campo.identificador' | t}}</th>
          <th>{{'campo.chaveEnderecamento' | t}}</th>
          <th>{{'campo.situacao' | t}}</th>
          <th>{{'campo.tipoChaveEnderecamento' | t}}</th>
          <th>{{'campo.agencia' | t}}</th>
          <th>{{'campo.numeroConta' | t}}</th>
          <th>{{'campo.tipoConta' | t}}</th>
          <th>{{'campo.tipoDono' | t}}</th>
          <th>{{'campo.identificacaoDono' | t}}</th>
          <th>{{'campo.nomeDono' | t}}</th>
          <th>{{'campo.nomeFantasiaDono' | t}}</th>
          <th>{{'campo.motivo' | t}}</th>
          <th>{{'campo.identificadorRequisicao' | t}}</th>
          <th>{{'campo.dataCriacao' | t}}</th>
          <th>{{'campo.dataDono' | t}}</th>
          <th>{{'campo.ativo' | t}}</th>
          <th>{{'campo.dataUltimaManutencao' | t}}</th>
          <th>{{'campo.usuarioUltimaManutencao' | t}}</th>
          <th>{{'campo.cid' | t}}</th>
          <th>{{'campo.dataAbertura' | t}}</th>
          <th>{{'campo.editar' | t}}</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-chave>
        <tr [pSelectableRow]="chave" (click)="onMensagemSelecionada(chave)">
          <td>{{ chave.idChaveDict }}</td>
          <td>{{ chave.chaveDict }}</td>
          <td>{{ chave.descricaoSituacao }}</td>
          <td>{{ chave.descricaoTipoChaveDict }}</td>
          <td>{{ chave.agencia }}</td>
          <td>{{ chave.numeroConta }}</td>
          <td>{{ chave.descricaoTipoConta }}</td>
          <td>{{ chave.descricaoTipoDonoDict }}</td>
          <td>{{ chave.idDono | cpfCnpj }}</td>
          <td>{{ chave.nomeDono }}</td>
          <td>{{ chave.nomeFantasiaDono | nullable }}</td>
          <td>{{ chave.descricaoTipoMotivoDict }}</td>
          <td>{{ chave.idRequisicao }}</td>
          <td>{{ chave.dataInclusao | dateTime }}</td>
          <td>{{ chave.dataDono | dateTime }}</td>
          <td>{{ chave.ativo == true ? 'Sim' : 'Não'}}</td>
          <td>{{ chave.dataUltimaManutencao | dateTime }}</td>
          <td>{{ chave.usuarioUltimaManutencao | nullable }}</td>
          <td>{{ chave.cid | nullable}}</td>
          <td>{{ chave.dataAbertura | date: 'shortDate'}}</td>

          <td class="edit-btn" (click)="$event.stopPropagation()">
            <button
              class="alb-icon-size"
              type="button"
              alb-button-icon icon="edit"
              style="border: none;  background:transparent"
              (click)="onEditarDict(chave)"
              pure
              *segFuncao="seg.CHA_BTN_EDITAR"
              [track]="seg.CHA_BTN_EDITAR"
            ></button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td colspan="18" class="text-center">
            {{'validacoes.nenhumaInformacao' | t}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </alb-box>
</alb-body>
