<alb-header-group>
  <div>
    <button alb-button-icon icon="person_pin" pure></button>
    Último Login: {{ultimoLoginUsuario | dateTime}}
  </div>
</alb-header-group>

<alb-header-group>
  <button alb-button-icon icon="offline_bolt" (click)="reprocessarReserva()" pure></button>

</alb-header-group>

<alb-header-group>
  <div>
    <button alb-button-icon icon="date_range" pure></button>
    {{dataReferencia | date: 'shortDate'}}
  </div>
</alb-header-group>

<alb-header-group>
  <button alb-button-icon icon="message" type="primary" (click)="mostrarAlertas()" pure></button>
</alb-header-group>

<alb-header-group>
  <div class="config-menu">
    <alb-menu icon="person">
      <alb-menu-item [disabled]="true">
        <ng-template albMenuTemplate>
          <div class="global-usuario">
            <i class="alb-icon custom-icon">person_pin</i>
            {{ usuario }}
          </div>
          <div class="menu-divisor"></div>
        </ng-template>
      </alb-menu-item>

      <alb-menu-item (click)="onConfiguracaoClick()">
        <ng-template albMenuTemplate><i class="alb-icon custom-icon">settings</i>{{'titulo.configuracoes' | t}}
        </ng-template>
      </alb-menu-item>

      <alb-menu-item (click)="onLogoutClick()">
        <ng-template albMenuTemplate><i class="alb-icon custom-icon">logout</i>{{'titulo.sair' | t}}</ng-template>
      </alb-menu-item>
    </alb-menu>
  </div>
</alb-header-group>
