<app-drawer-content>
  <div class="alb-divisor center">
    <div class="width-100">
      <p-table scrollHeight="calc(100vh - 360px)" [value]="contatosManipula" class="alb-table" rowHover="true" [scrollable]="true">
        <ng-template pTemplate="colgroup">
          <col class="sq-col-xs">
          <col class="sq-col-md">
          <col class="sq-col-md">
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th id="todos">
              <alb-checkbox (change)="selecionarTodos($event.target.checked)">
              </alb-checkbox>
            </th>
            <th id="nome">{{ 'campo.nome' | t}}</th>
            <th id="email">{{ 'campo.email' | t}}</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-contato>
          <tr>
            <td>
              <alb-checkbox (change)="selectionarUnico(contato)" [value]="contato.selecionado">
              </alb-checkbox>
            </td>
            <td>{{contato.nome}}</td>
            <td>{{contato.email}}</td>
          </tr>
        </ng-template>
      </p-table>

    </div>

  </div>
  <div class="footer action-button">
    <div style="display: flex; justify-content: end; padding-top: 24px; margin-right: 16px">
      <button alb-button type="primary" (click)="salvar()">
        {{ "botao.salvar" | t }}
      </button>
    </div>
  </div>
</app-drawer-content>