<alb-body *segFuncao="seg.REP_MENU">
  <h1>{{ 'titulo.reprocessamentoMensagemService' | t }}</h1>

  <alb-accordion icon="filter_list" [open]="true" [title]="'titulo.pesquisar' | t">
    <form [formGroup]="filtroForm">
      <div class="alb-divisor">
        <div>
          <alb-datepicker formControlName="dataAutorizacao" [placeholder]="'campo.ate' | t"></alb-datepicker>
        </div>
        <div class="action-button">
          <button alb-button color="primary" (click)="onPesquisar()" color="accent">
            {{'botao.pesquisar' | t }}
          </button>
        </div>
      </div>
    </form>
  </alb-accordion>

  <div class="alb-box reprocessamento-mensagem">
    <div class="alb-divisor">
      <div class="width-35">
        <div class="titulo">{{'campo.tipoMensagem' | t}}</div>
        <div *ngFor="let reprocessamentoMensagem of tiposReprocessamentoMensagemList">
          <div class="itens" [class.active]="tipoReprocessamentoSelecionado === reprocessamentoMensagem.id"
            (click)="tipoReprocessamentoSelecionado = reprocessamentoMensagem.id">
            {{ reprocessamentoMensagem.descricao | t }}
          </div>
        </div>
      </div>

      <div *ngIf="dataReferencia" [ngSwitch]="tipoReprocessamentoSelecionado" class="width-65">
        <div *ngSwitchCase="tipoReprocessamentoMensagem.ENVIO">
          <app-reprocessamento-envio [dataAutorizacao]="dataAutorizacao$ | async"></app-reprocessamento-envio>
        </div>
        <div *ngSwitchCase="tipoReprocessamentoMensagem.RECEBIMENTO">
          <app-reprocessamento-recebimento [dataAutorizacao]="dataAutorizacao$ | async"></app-reprocessamento-recebimento>
        </div>
        <div *ngSwitchCase="tipoReprocessamentoMensagem.FORMATACAO">
          <app-reprocessamento-formatacao [dataAutorizacao]="dataAutorizacao$ | async"></app-reprocessamento-formatacao>
        </div>
        <div *ngSwitchCase="tipoReprocessamentoMensagem.ENVIO_SAIDA">
          <app-reprocessamento-envio-repositorio-saida [dataAutorizacao]="dataAutorizacao$ | async"></app-reprocessamento-envio-repositorio-saida>
        </div>
        <div *ngSwitchCase="tipoReprocessamentoMensagem.REPOSITORIO_ENTRADA">
          <app-reprocessamento-repositorio-entrada [dataAutorizacao]="dataAutorizacao$ | async"></app-reprocessamento-repositorio-entrada>
        </div>
        <div *ngSwitchCase="tipoReprocessamentoMensagem.REPOSITORIO_SAIDA">
          <app-reprocessamento-repositorio-saida [dataAutorizacao]="dataAutorizacao$ | async"></app-reprocessamento-repositorio-saida>
        </div>
      </div>
    </div>
  </div>

</alb-body>
