.active {
  border: 1px solid black;
  background-color: var(--hover);
}

.reprocessamento-mensagem {
  margin-top: 20px;
}

.itens {
  border: 1px solid var(--border);
  padding: 20px;

  &:hover {
    border: 1px solid black;
    background-color: var(--hover);
  }
}
