<p-table
      *segFuncao="seg.AUT_MENU"
      class="alb-table"
      [scrollable]="true"
      [rows]="10"
      [value]="autorizacaoLiberacaoLista"
      [paginator]="true"
      [rowsPerPageOptions]="[10,25,50]"
      >
      <ng-template pTemplate="colgroup">
        <col class="sq-col-lg">
        <col class="sq-col-lg">
        <col class="sq-col-lg">
        <col class="sq-col-xs">
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>{{ 'autorizacaoLiberacao.campo.valorIgualMaiorQue' | t }}</th>
          <th>{{ 'autorizacaoLiberacao.campo.numeroAutorizacoes' | t }}</th>
          <th>{{ 'autorizacaoLiberacao.campo.nivelHierarquico' | t }}</th>
          <!-- botoes -->
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item?.vrLimAut | valorFinanceiro }}</td>
          <td>{{ item?.qtdAut }}</td>
          <td>{{ item?.codNivHie || '-'}}</td>
          <td class="text-end">
            <button
              alb-button-icon icon="edit"
              type="button"
              style="border: none;  background:transparent"
              (click)="onEditar(item)"
              *segFuncao="seg.AUT_BTN_EDITAR"
              [track]="seg.AUT_BTN_EDITAR"
            ></button>
            <button
              alb-button-icon icon="delete"
              type="button"
              style="border: none;  background:transparent"
              (click)="onDelete(item)"
              *segFuncao="seg.AUT_BTN_EXCLUIR"
              [track]="seg.AUT_BTN_EXCLUIR"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template let-item pTemplate="paginatordropdownitem">
        {{ item.value }} - por página
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4" class="text-center">
            {{ "validacoes.nenhumaInformacao" | t }}
          </td>
        </tr>
      </ng-template>
    </p-table>
