<h1>{{ 'titulo.historicoPesquisa' | t }}</h1>
<p-table class="alb-table" [value]="historicoPesquisaComposicao$ | async" [scrollable]="true">
  <ng-template pTemplate="colgroup">
    <col class="sq-col-md">
    <col class="sq-col-md">
    <col class="sq-col-md">
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th> {{'campo.sistema' | t}} </th>
      <th> {{'campo.operacao' | t}} </th>
      <th> {{'campo.mensagem' | t}} </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-value let-columns="columns">
    <tr class="--click" (click)="onItemSelecionadoClick(value)">
      <td> {{value.sistema}} </td>
      <td> {{value.descricaoOperacaoBancariaMensagem}} </td>
      <td> {{value.codigoMensagem}} </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="3" class="text-center">{{ 'validacoes.nenhumaInformacao' | t }}</td>
    </tr>
  </ng-template>
</p-table>
