<alb-body>
  <h1 alb-drawer-title>{{ "seg.titulo.senha_usuario" | t }}</h1>
  <app-drawer-content>
    <div *ngIf="regras" style="display: flex; flex-direction: column;">
      <span class="alb-mt-md" *ngIf="this.regras.nome">{{'validacoes.grupoUsuario' | t}}
        {{this.regras.nome}}.
      </span>
      <span class="alb-mt-md" *ngIf="this.regras.tipCarSen ||
          this.regras.tamMinSen ||
          this.regras.numCacIguCcu ||
          this.regras.qtdMinCacNum ||
          this.regras.qtdMinCacLet ||
          this.regras.qtdMinLetMau ||
          this.regras.qtdMinLetMiu ||
          this.regras.numCacIguCcu ||
          this.regras.qtdMinCacEsp">
          {{'validacoes.regrasUsuario' | t}}
      </span>
      <span class="alb-mt-md" *ngIf="this.regras.tipCarSen">
        {{'validacoes.tipoCaracter' | t}}
        {{this.tipoCaracter}};
      </span>
      <span class="alb-mt-md" *ngIf="this.regras.tamMinSen">
        {{'validacoes.tamanhoMinimoSenha' | t}}
        {{this.regras.tamMinSen}}
      </span>
      <span class="alb-mt-md" *ngIf="this.regras.tamMaxSen">
        {{'validacoes.tamanhoMaximoSenha' | t}}
        {{this.regras.tamMaxSen}};
      </span>
      <span class="alb-mt-md" *ngIf="this.regras.numCacIguCcu">
        {{'validacoes.numeroCaracterConsecutivos' | t}}
        {{this.regras.numCacIguCcu}};
      </span>
      <span class="alb-mt-md" *ngIf="this.regras.qtdMinCacNum">
        {{'validacoes.quantidadeMinimaCaracterNumerico' | t}}
        {{this.regras.qtdMinCacNum}};
      </span>
      <span class="alb-mt-md" *ngIf="this.regras.qtdMinCacLet">
        {{'validacoes.quantidadeMinimaLetras' | t}}
        {{this.regras.qtdMinCacLet}};
      </span>
      <span class="alb-mt-md" *ngIf="this.regras.qtdMinLetMau">
        {{'validacoes.quantidadeMinimaLetrasMaiusculas' | t}}
        {{this.regras.qtdMinLetMau}};
      </span>
      <span class="alb-mt-md" *ngIf="this.regras.qtdMinLetMiu">
        {{'validacoes.quantidadeMinimaLetrasMinusculas' | t}}
        {{this.regras.qtdMinLetMiu}};
      </span>
      <span class="alb-mt-md" *ngIf="this.regras.numCacIguCcu">
        {{'validacoes.quantidadeCaracteresIguaisConsecutivos' | t}}
        {{this.regras.numCacIguCcu}};
      </span>
      <span class="alb-mt-md" *ngIf="this.regras.qtdMinCacEsp">
        {{'validacoes.quantidadeMinimaCaracteresEspeciais' | t}}
        {{this.regras.qtdMinCacEsp}};
      </span>
    </div>
    <form [formGroup]="form">
      <div class="alb-divisor --two line3">
        <div class="width-100">
          <alb-input type="password" [placeholder]="'seg.campo.senha' | t" formControlName="senha">
          </alb-input>
        </div>
        <div class="width-100">
          <alb-input type="password" [placeholder]="'seg.campo.confirmarsenha' | t" formControlName="confirmar">
          </alb-input>
        </div>
      </div>

      <div style="display: flex; justify-content: end; padding-top: 24px">
        <button alb-button type="primary" (click)="onSave()">
          {{ "botao.salvar" | t }}
        </button>
      </div>
    </form>
  </app-drawer-content>
</alb-body>