<app-drawer-content>
  <form [formGroup]="formData">
    <div style="margin: -16px">
      <alb-tab-group class="white">
        <alb-tab [label]="'tabs.usuRecCadastro' | t" [id]="'A'">
          <ng-template albTabBodyWrapper>
            <app-usuario-recebedor-formulario [formData]="formData" [isNew]="isNew" [donosToTable]="usuarioRecebedor?.donos" [usuRec]="usuarioRecebedor?.id"></app-usuario-recebedor-formulario>
          </ng-template>
        </alb-tab>
        <alb-tab [label]="'tabs.usuRecContatos' | t" [id]="'B'">
          <ng-template albTabBodyWrapper>
            <app-usuario-recebedor-contatos [formData]="formData" [contatos]="usuarioRecebedor?.contatos"></app-usuario-recebedor-contatos>
          </ng-template>
        </alb-tab>
      </alb-tab-group>
    </div>
  </form>



  <div class="footer action-button">
    <div style="display: flex; justify-content: end; padding-top: 24px; margin-right: 16px">
      <button alb-button type="primary" (click)="salvar()" [disabled]="formData?.invalid">
        {{ "botao.salvar" | t }}
      </button>
    </div>
  </div>

</app-drawer-content>