<alb-body *segFuncao="seg.PTI_MENU">
  <h1 alb-drawer-title>{{ "participanteIndireto.titulo.edicao" | t }}</h1>
  <app-drawer-content>
    <form [formGroup]="formData">
      <div class="alb-divisor --one">
        <div class="width-100">
          <app-entidade-dropdown [placeholder]="'participanteIndireto.campo.entidadeParticipante' | t" 
                                 formControlName="entidadeParticipante" 
                                 [idSelecionado]="controls.entidadeParticipante.value" 
                                 [clearable]="true">
          </app-entidade-dropdown>
        </div> 
      </div>  
      <div class="alb-divisor --two">
        <div class="width-50">
          <alb-box [title]="'participanteIndireto.campo.situacao' | t" formview>
            <alb-radio-group formControlName="situacao">
              <alb-radio-button value="A" checked> {{ "participanteIndireto.campo.ativo" | t }} </alb-radio-button>
              <alb-radio-button value="I">{{ "participanteIndireto.campo.inativo" | t }} </alb-radio-button>
            </alb-radio-group>
          </alb-box>
        </div>
        <div class="width-50">
          <alb-datetimepicker [placeholder]="'participanteIndireto.campo.dataInicio' | t" formControlName="dataInicio"></alb-datetimepicker>                  
        </div>
      </div>
      <div class="alb-divisor --one">
        <div class="width-100">
          <app-sistema-composicao-dropdown [placeholder]="'participanteIndireto.campo.sistema' | t"  
                                            formControlName="sistema"
                                            [idSelecionado]="controls.sistema.value">          
          </app-sistema-composicao-dropdown>
        </div>                               
      </div>
      <div style="display: flex; justify-content: end; padding-top: 24px">
        <button
          alb-button
          type="primary"
          (click)="onEditarParticipanteIndireto()"
          [disabled]="formData.invalid"
          *segFuncao="seg.PTI_BTN_EDITAR"
          [track]="seg.PTI_BTN_EDITAR"
          >
          {{ "botao.salvar" | t }}
        </button>
      </div>
    </form>
  </app-drawer-content>
</alb-body>
