<alb-body>
  <form [formGroup]="form">
    <alb-input
      [placeholder]="'campo.localArquivo' | t"
      type="file"
      (change)="onChange($event)"
    >
    </alb-input>
    <span>{{ "mensagem.padraoCaminhoImportacao" | t }}</span>

    <div class="alb-divisor">
      <div class="width-60">
        <ng-select
          [placeholder]="'campo.mes' | t"
          class="alb-ng-select"
          formControlName="mes"
        >
          <ng-option *ngFor="let el of mesesList" [value]="el">{{
            el | mesesDoAno
          }}</ng-option>
        </ng-select>
      </div>
      <div class="width-40">
        <alb-input
          [placeholder]="'campo.ano' | t"
          [maxLength]="4"
          [mask]="{ mask: '0000' }"
          formControlName="ano"
        >
        </alb-input>
      </div>
    </div>

    <div style="display: flex; justify-content: end; padding-top: 24px">
      <button alb-button (click)="onClick()" [disabled]="!arq">
        {{ "botao.importar" | t }}
      </button>
    </div>
  </form>
</alb-body>
