app-grupo-visualizacao {
  padding-right: 1rem;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.grupo-lista {
  user-select: text;
}

.header {
  display: flex;
  align-items: center;
  padding: .5rem .8rem;
  margin-bottom: .5rem;
  border: 1px solid var(--border);
  cursor: pointer;
  transition: .2s var(--background), .2s color;

  &:hover {
    background-color: var(--accent);

    .title, .arrow {
      color: var(--contrast);
      border-color: var(--border);
    }
  }
}

.title {
  margin: 0;
  color: var(--text);
}

.arrow {
  width: 10px;
  height: 10px;
  border: 2px solid var(--border);
  border-bottom: 0;
  border-right: 0;
  margin-right: 1rem;
  transform: rotate(45deg);
  transition: transform .2s;

  .open & {
    transform: rotate(45deg);
  }

  .close & {
    transform: rotate(225deg);
  }
}

.content {
  border-left: 1px solid var(--border);
  margin: 0 0 0 20px;
  padding: 5px 0 5px 15px;
}

.list {
  margin-bottom: .8rem;
}

.item {
  padding: .5rem .8rem;
}

.label {
  border-bottom: 1px solid var(--border);
  font-weight: bold;
  color: var(--text);
}

.description {
  margin-top: .2rem;
  color: var(--text);
}

.active {
  background-color: var(--background);
}
