<alb-body>
  <h1 alb-drawer-title>Cobrança com Vencimento</h1>
    <app-drawer-content>
      <h1 alb-drawer-title>{{ txid }}</h1>
      <form [formGroup]="formData">
        <div class="alb-divisor two line3">

          <div class="width-50">
            <alb-input  [disabled]="true" [placeholder]="'Data Vencimento'" formControlName="dataVencimento">
            </alb-input>
          </div>

          <div class="width-50">
            <alb-input   [disabled]="true" [placeholder]="'cob.campo.valAposVenc' | t" formControlName="valAposVenc">
            </alb-input>
          </div>
  
          <div class="width-50">
            <alb-input   [disabled]="true" [placeholder]="'cob.campo.logradouroDev' | t" formControlName="logradouroDev">
            </alb-input>
          </div>
          <div class="width-50">
            <alb-input  [disabled]="true" [placeholder]="'cob.campo.cidDev' | t" formControlName="cidDev">
            </alb-input>
          </div>
          
  
          <div class="width-50">
            <alb-input  [disabled]="true" [placeholder]="'cob.campo.ufDev' | t" formControlName="ufDev">
            </alb-input>
          </div>

          <div class="width-50">
            <alb-input  [disabled]="true" [placeholder]="'cob.campo.cepDev' | t" formControlName="cepDev">
            </alb-input>
          </div>
          
       
  
       

          <div class="width-50">
            <alb-input   [disabled]="true" [placeholder]="'cob.campo.vlrMulta' | t" formControlName="vlrMulta">
            </alb-input>
          </div>

          <div class="width-50">
            <alb-input  [disabled]="true" [placeholder]="'cob.campo.modMulta' | t" formControlName="modMulta">
            </alb-input>
          </div>

          <div class="width-50">
            <alb-input  [disabled]="true" [placeholder]="'cob.campo.vlrJuros' | t" formControlName="vlrJuros">
            </alb-input>
          </div>

          <div class="width-50">
            <alb-input  [disabled]="true" [placeholder]="'cob.campo.modJuros' | t" formControlName="modJuros">
            </alb-input>
          </div>

          <div class="width-50">
            <alb-input  [disabled]="true" [placeholder]="'cob.campo.vlrAbat' | t" formControlName="vlrAbat">
            </alb-input>
          </div>

          <div class="width-50">
            <alb-input  [disabled]="true" [placeholder]="'cob.campo.modAbat' | t" formControlName="modAbat">
            </alb-input>
          </div>

          <div class="width-50">
            <alb-input  [disabled]="true" [placeholder]="'cob.campo.logRec' | t" formControlName="logRec">
            </alb-input>
          </div>

          <div class="width-50">
            <alb-input  [disabled]="true" [placeholder]="'cob.campo.ufRec' | t" formControlName="ufRec">
            </alb-input>
          </div>

          <div class="width-50">
            <alb-input  [disabled]="true" [placeholder]="'cob.campo.cepRec' | t" formControlName="cepRec">
            </alb-input>
          </div>

          <div class="width-50">
            <alb-input  [disabled]="true" [placeholder]="'cob.campo.cidRec' | t" formControlName="cidRec">
            </alb-input>
          </div>
  
        </div>
  
      </form>
    </app-drawer-content>
  </alb-body>
  