<alb-body>
  <h1 alb-drawer-title>{{'titulo.importacaoCertificadoDigital' | t}}</h1>
  <app-drawer-content>
    <div class="label">
      <div class="alb-divisor --one">
        <alb-input [placeholder]="'campo.localArquivoCertificado' | t" type="file" (change)="onChange($event)"
          accept=".pem,.p12,.cer,.crt,.key">
        </alb-input>
        <span>{{'mensagem.padraoCaminhoImportacao' | t}}</span>
        <form [formGroup]="filtroForm">
          <app-finalidade-certificado-dropdown [placeholder]="'campo.finalidade' | t" [finalidade]="finalidade"
            formControlName="idFinalidadeCertificadoDigital" required>
          </app-finalidade-certificado-dropdown>
          <alb-input [placeholder]="'campo.senhaP12' | t" formControlName="senhaCertificado" type="password">
          </alb-input>
        </form>
      </div>
    </div>
    <aside class="acoes">
      <button alb-button (click)="onImportar()" [disabled]="!certificado || Controls.idFinalidadeCertificadoDigital.errors">
        {{'botao.importar' | t}}
      </button>
    </aside>
  </app-drawer-content>
</alb-body>
