.sq-chip {
  background-color: black;
  display: flex;
  border-radius: 9px;
  color: #fff;
  font-size: 12px;
  height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.sq-chip-text {
  margin: auto;
  white-space: nowrap;
}

.alert {
  background-color: var(--alert);
}

.warn {
  background-color: var(--warn);
}

.success {
  background-color: var(success);
}
