<alb-body>
  <form [formGroup]="form">
    <div class="alb-divisor --two line3">
      <div class="width-30">
        <ng-select [placeholder]="'campo.tipoTransacao' | t" class="alb-ng-select" formControlName="tipoTransacao" (change)="onChangeTipoTransacao($event)">
          <ng-option *ngFor="let el of tipoTransacaoList" [value]="el">{{el | tipoTransacao}}</ng-option>
        </ng-select>
      </div>

      <div class="width-30">
        <ng-select [placeholder]="(controls.tipoTransacao.value == 1 ? 'campo.pixSistemaOrigem' : 'campo.dictSistemaOrigem') | t" class="alb-ng-select" formControlName="sistemaOrigem">
          <ng-option *ngFor="let el of sistemas" [value]="el.id">{{el.descricao}}</ng-option>
        </ng-select>
      </div>

      <div class="width-30">
        <alb-input *ngIf="(controls.tipoTransacao.value === 1) || (controls.tipoTransacao.value === 3)" [placeholder]="'campo.pixEndToEndID' | t" formControlName="endToEndID">
        </alb-input>
      </div>

    </div>

   <div class="alb-divisor" *ngIf="controls.tipoTransacao.value == 1">
      <!-- formulario pix begin -->
      <div class="alb-divisor">
        <div class="width-20">
          <ng-select [placeholder]="'campo.pixStatusTransacao' | t" class="alb-ng-select" formControlName="statusTransacao" (change)="onChangeStatusTransacaoPix($event)">
            <ng-option *ngFor="let el of pixStatusTransacaoList" [value]="el">{{el | pixStatusTransacao}}</ng-option>
          </ng-select>
        </div>

        <div class="width-20">
          <ng-select [placeholder]="'campo.pixEnvolvidoTransacao' | t" class="alb-ng-select" formControlName="envolvidoTransacao">
            <ng-option *ngFor="let el of pixEnvolvidoTransacaoList" [value]="el">{{el | pixEnvolvidoTransacao}}</ng-option>
          </ng-select>
        </div>

        <div class="width-20">
          <ng-select id="detalhe_pix" [placeholder]="'campo.pixDetalheTransacao' | t" class="alb-ng-select" formControlName="detalheTransacao"  [virtualScroll]="false">
            <ng-option *ngFor="let el of pixDetalheTransacaoList" [value]="el">{{el | pixDetalheTransacao}}</ng-option>
          </ng-select>
        </div>
        <div class="width-20">
          <ng-select [placeholder]="'campo.pixFonteReceita' | t" class="alb-ng-select" formControlName="fonteReceita">
            <ng-option *ngFor="let el of pixFonteRefeitaList" [value]="el">{{el | pixFonteReceita}}</ng-option>
          </ng-select>
        </div>

        <div class="width-20">
          <ng-select [placeholder]="'campo.pixMotivoRejeicao' | t" class="alb-ng-select" formControlName="motivoRejeicao">
            <ng-option *ngFor="let el of pixMotivoRejeicaoList" [value]="el">{{el | pixMotivoRejeicao}}</ng-option>
          </ng-select>
        </div>

        <div class="width-20">
          <ng-select [placeholder]="'campo.pixProcessoIniciacao' | t" class="alb-ng-select" formControlName="processoIniciacao">
            <ng-option *ngFor="let el of pixProcessoIniciacaoList" [value]="el">{{el | pixProcessoIniciacao}}</ng-option>
          </ng-select>
        </div>

        <div class="width-20">
          <ng-select [placeholder]="'campo.pixMecanismoIniciacao' | t" class="alb-ng-select" formControlName="mecanismoIniciacao">
            <ng-option *ngFor="let el of pixMecanismoIniciacaoList" [value]="el">{{el | pixMecanismoIniciacao}}</ng-option>
          </ng-select>
        </div>

        <div class="width-20">
          <ng-select [placeholder]="'campo.pixNaturezaUsuarioPagador' | t" class="alb-ng-select" formControlName="naturezaUsuarioPagador">
            <ng-option *ngFor="let el of pixNaturezaUsuarioPagadorList" [value]="el">{{el | pixNaturezaUsuario}}</ng-option>
          </ng-select>
        </div>

        <div class="width-20">
          <ng-select [placeholder]="'campo.pixNaturezaUsuarioRecebedor' | t" class="alb-ng-select" formControlName="naturezaUsuarioRecebedor">
            <ng-option *ngFor="let el of pixNaturezaUsuarioRecebedorList" [value]="el">{{el | pixNaturezaUsuario}}</ng-option>
          </ng-select>
        </div>

        <div class="width-20">
          <ng-select [placeholder]="'campo.pixCanalIniciacao' | t" class="alb-ng-select" formControlName="canalIniciacao">
            <ng-option *ngFor="let el of pixCanalIniciacaoList" [value]="el">{{el | pixFonteReceita}}</ng-option>
          </ng-select>
        </div>

        <div class="width-20">
          <ng-select [placeholder]="'campo.pixFinalidade' | t" class="alb-ng-select" formControlName="finalidade">
            <ng-option *ngFor="let el of pixFinalidadeTransacaoList" [value]="el">{{el | pixFinalidadeTransacao}}</ng-option>
          </ng-select>
        </div>
      </div>

      <div class="alb-divisor width-100">
        <div class="width-30">
          <alb-datepicker placeholder="{{'campo.pixDataTransacao' | t }}" formControlName="dataTransacao">
          </alb-datepicker>
        </div>

        <div class="width-30">
          <alb-input [placeholder]="'campo.pixHoraInicioTransacao' | t" [maxLength]="12" [mask]="{ mask: '00:00:00.000' }" formControlName="horaInicioTransacao" >
          </alb-input>
        </div>

        <div class="width-30">
          <alb-input [placeholder]="'campo.pixHoraFimTransacao' | t" [maxLength]="12" [mask]="{ mask: '00:00:00.000' }" formControlName="horaFimTransacao" >
          </alb-input>
        </div>
      </div>

      <div class="width-30">
        <alb-number [placeholder]="'campo.pixValorTransacao' | t" formControlName="valorTransacao" [decimalLength]="2" [length]="14" [decimal]="true" [allowNegative]="true">
        </alb-number>
      </div>

      <div class="width-30">
        <alb-number [placeholder]="'campo.pixValorTarifaTransacao' | t" formControlName="valorTarifaTransacao" [decimalLength]="2" [length]="14" [decimal]="true" [allowNegative]="true">
        </alb-number>
      </div>

      <div class="width-30">
        <alb-number [placeholder]="'campo.pixValorEspecie' | t" formControlName="valorEspecie" [decimalLength]="2" [length]="14" [decimal]="true" [allowNegative]="true">
        </alb-number>
      </div>
      <!-- formulario pix end -->
    </div>
    <div class="alb-divisor" *ngIf="controls.tipoTransacao.value == 2">
      <!-- BEGIN formulario dict-->
      <div class="alb-divisor">
        <div class="width-30">
          <ng-select [placeholder]="'campo.dictStatusTransacao' | t" class="alb-ng-select" formControlName="statusTransacao">
            <ng-option *ngFor="let el of dictStatusTransacaoList" [value]="el">{{el | dictStatusTransacao}}</ng-option>
          </ng-select>
        </div>
        <div class="width-30">
          <ng-select [placeholder]="'campo.dictTipoTransacao' | t" class="alb-ng-select" formControlName="tipoTransacaoDict">
            <ng-option *ngFor="let el of dictTipoTransacaoList" [value]="el">{{el | dictTipoTransacao}}</ng-option>
          </ng-select>
        </div>
        <div class="width-30">
          <ng-select [placeholder]="'campo.dictChaveInclusao' | t" class="alb-ng-select" formControlName="chaveInclusao">
            <ng-option *ngFor="let el of dictChaveInclusaoList" [value]="el">{{el | dictChaveInclusao}}</ng-option>
          </ng-select>
        </div>
      </div>

      <div class="alb-divisor">
        <div class="width-30">
          <alb-datepicker placeholder="{{'campo.dictDataTransacao' | t }}" formControlName="dataTransacao">
          </alb-datepicker>
        </div>

        <div class="width-30">
          <alb-input [placeholder]="'campo.dictHoraInicioTransacao' | t" [maxLength]="12" [mask]="{ mask: '00:00:00.000' }" formControlName="horaInicioTransacao" >
        </alb-input>
        </div>

        <div class="width-30">
          <alb-input [placeholder]="'campo.dictHoraFimTransacao' | t" [maxLength]="12" [mask]="{ mask: '00:00:00.000' }" formControlName="horaFimTransacao" >
          </alb-input>
        </div>

        <div class="width-30">
          <alb-input [placeholder]="'campo.dictHoraAcknowledge' | t" [maxLength]="12" [mask]="{ mask: '00:00:00.000' }" formControlName="horaAcknowledge" >
          </alb-input>
        </div>

        <div class="width-30">
          <alb-input [placeholder]="'campo.dictHoraNotificacaoUsuario' | t" [maxLength]="12" [mask]="{ mask: '00:00:00.000' }" formControlName="horaNotificacaoUsuario" >
          </alb-input>
        </div>

        <div class="width-30">
          <alb-input [placeholder]="'campo.dictHoraIniEnvioCodigoCliente' | t" [maxLength]="12" [mask]="{ mask: '00:00:00.000' }" formControlName="HoraInicioEnvioCodigoClient" >
          </alb-input>
        </div>

        <div class="width-30">
          <alb-input [placeholder]="'campo.dictHoraFImEnvioCodigoClintte' | t" [maxLength]="12" [mask]="{ mask: '00:00:00.000' }" formControlName="HoraFimEnvioCodigoClient" >
          </alb-input>
        </div>
      </div>

      <!-- END formulario dict -->
    </div>

    <div class="alb-divisor" *ngIf="controls.tipoTransacao.value == 3">
    <!-- BEGIN formulario bloqueio-->
    <div class="alb-divisor">
      <div class="width-90">
        <ng-select [placeholder]="'campo.bloDetalheBloqueio' | t" class="alb-ng-select" formControlName="detalheBloqueio">
          <ng-option *ngFor="let el of bloDetalheBloqueioList" [value]="el">{{el | bloDetalheBloqueio}}</ng-option>
        </ng-select>
      </div>
    </div>
    <div class="alb-divisor">
      <div class="width-30">
        <alb-datetimepicker placeholder="{{'campo.bloDataHoraInicioBloqueio' | t }}" formControlName="horaInicioBloqueio">
        </alb-datetimepicker>
      </div>
      <div class="width-30">
        <alb-datetimepicker placeholder="{{'campo.dictHoraFImEnvioCodigoClintte' | t }}" formControlName="horaFimBloqueio">
        </alb-datetimepicker>
      </div>
      <div class="width-30">
        <alb-number [placeholder]="'campo.bloValorBloqueio' | t" formControlName="valorBloqueio" [decimalLength]="2" [length]="14" [decimal]="true" [allowNegative]="true">
        </alb-number>
      </div>
    </div>
    <!-- END formulario bloqueio -->
    </div>

    <div class="alb-divisor" *ngIf="controls.tipoTransacao.value == 4">
      <!-- BEGIN formulario disponibilidade-->
      <div class="alb-divisor">
        <div class="width-45">
          <ng-select
            [placeholder]="'campo.mes' | t"
            class="alb-ng-select"
            formControlName="mesReferencia"
          >
            <ng-option *ngFor="let el of mesesList" [value]="el">{{
              el | mesesDoAno
            }}</ng-option>
          </ng-select>
        </div>
        <div class="width-45">
          <alb-input [placeholder]="'campo.ano' | t" [maxLength]="4" formControlName="anoReferencia" >
          </alb-input>
        </div>
        <div class="width-45">
          <alb-input [placeholder]="'campo.disHoraDisponivelDia' | t" [maxLength]="2" formControlName="horasDisponiveis" >
          </alb-input>
        </div>
        <div class="width-45">
          <alb-number [placeholder]="'campo.dispHoraIndisponivelPeriodoInput' | t" formControlName="horasIndisponiveis" >
          </alb-number>
        </div>
      </div>
      <!-- END formulario disponibilidade -->
    </div>

    <div style="display: flex; justify-content: end; padding-top: 24px" >
      <button alb-button [disabled]="form.invalid" (click)="onSave()">
        {{ "botao.importar" | t }}
      </button>
    </div>
  </form>
</alb-body>
