.action-btns{
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

.info-composicao{
  display: flex;
  gap: 10px;
  justify-content: space-between;

  p{
    span{
      color: var(--santas);
      font-size: 95%;
    }
  }
}
