<p-table
  class="alb-table"
  [value]="lista | filter : filtro : 'dscGrpUsu'"
  [scrollable]="true"
  [rows]="10"
  [paginator]="true"
  [rowsPerPageOptions]="[10,25,50]"
  *segFuncao="seg.GRP_MENU"
  [track]="seg.GRP_MENU"
  >
  <ng-template pTemplate="colgroup">
    <col class="sq-col-xs">
    <!-- Visualizar -->
    <col *ngIf="readMore" class="sq-col-xs">
    <col class="sq-col-sm">
    <col class="sq-col-sm">
    <col class="sq-col-sm">
    <col class="sq-col-sm">
    <col class="sq-col-md">
    <col class="sq-col-xs">
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>{{'gruposUsuarios.campo.identificacao' | t}}</th>
      <!-- Visualizar -->
      <th *ngIf="readMore"></th>
      <th>{{'gruposUsuarios.campo.nome' | t}}</th>
      <th>{{'gruposUsuarios.campo.nivelHierarquico' | t}}</th>
      <th>{{'gruposUsuarios.campo.permConsultaIrrestritiva' | t}}</th>
      <th>{{'gruposUsuarios.campo.situacao' | t}}</th>
      <th>{{'gruposUsuarios.campo.datUltMnt' | t}}</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item?.idGrpUsu }}</td>
      <td *ngIf="readMore">
        <button
          class="alb-icon-size"
          alb-button-icon
          icon="remove_red_eye"
          (click)="onVisualizarUsuariosDoGrupo(item)"
          *segFuncao="seg.GRP_BTN_VISUALIZAR"
          [track]="seg.GRP_BTN_VISUALIZAR"
          pure
        ></button>
      </td>
      <td>{{ item?.dscGrpUsu }}</td>
      <td>{{ item?.codNivHie }}</td>
      <td>{{ item?.flgPemCsuIrr }}</td>
      <td>{{ item?.codSitOpe }}</td>
      <td>{{ item?.datUltMnt | date}}</td>
      <td class="edit-btn">
        <button
          alb-button-icon icon="person_add"
          type="button" style="border: none;  background:transparent"
          (click)="onAdicionarUsuarios(item)"
          *segFuncao="seg.GRP_MENU"
          >
        </button>
        <button
          alb-button-icon icon="edit"
          type="button" style="border: none;  background:transparent"
          (click)="onEditarGrupo(item)"
          *segFuncao="seg.GRP_BTN_EDITAR"
          [track]="seg.GRP_BTN_EDITAR"
          >
        </button>
        <button
          alb-button-icon icon="delete"
          type="button" style="border: none;  background:transparent"
          (click)="onExcluirGrupo(item)"
          *segFuncao="seg.GRP_BTN_DELETAR"
          [track]="seg.GRP_BTN_DELETAR"
          >
        </button>

      </td>
    </tr>
  </ng-template>
  <ng-template let-item pTemplate="paginatordropdownitem">
    {{ item.value }} - por página
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8" class="text-center">
        {{ "validacoes.nenhumaInformacao" | t }}
      </td>
    </tr>
  </ng-template>
</p-table>
