.green {
  background-image: url('../../../../assets/pins/green.png');
}

.red {
  background-image: url('../../../../assets/pins/red.png');
}

.yellow {
  background-image: url('../../../../assets/pins/yellow.png');
}

.grey {
  background-image: url('../../../../assets/pins/grey.png');
}