<alb-body *segFuncao="seg.DTR_MENU">
  <h1>{{ 'titulo.desbloqueioTransacaoLista' | t }}</h1>

  <div class="alb-box">
    <aside class="table-header">
      <div class="table-header-title">
        <h3 class="vertical-align-header">{{'titulo.mensagem' | t}}</h3>
      </div>
      <span class="vertical-align-header valorLiberado">
        Valor a ser liberado: <b class="alb-warn-color">R$ {{ total | valorFinanceiro }}</b>
      </span>
      <button alb-button class="liberarTransacao" (click)="desbloquearTransacao()" [disabled]="ds?.selection.selected.length <= 0" *segFuncao="seg.DTR_BTN_LIBERAR" [track]="seg.DTR_BTN_LIBERAR">
        {{'botao.liberarTransacao' | t}}
      </button>
    </aside>
    <p-table [sq-data-source]="ds" class="alb-table" rowHover="true">
      <ng-template pTemplate="colgroup">
        <col class="sq-col-xxs">
        <col class="sq-col-xxs">
        <col class="sq-col-xs">
        <col class="sq-col-sm">
        <col class="sq-col-md">
        <col class="sq-col-sm">
        <col class="sq-col-sm">
        <col class="sq-col-xl">
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">
            <ng-container *ngIf="ds?.data$ | async as transacoes">
              <alb-checkbox (change)="allSelecionados(transacoes)"
                [value]="ds.selection.hasValue() && ds.isAllSelected(transacoes)"
                [indeterminate]="ds.selection.hasValue() && !ds.isAllSelected(transacoes)">
              </alb-checkbox>
            </ng-container>
          </th>
          <th></th>
          <th [pSortableColumn]="'situacao'">
            {{'campo.situacao' | t}}
          </th>
          <th [pSortableColumn]="'data'" class="text-center">
            {{'campo.data' | t}}
          </th>
          <th [pSortableColumn]="'agendamento'" class="text-center">
            {{'campo.agendamento' | t}}
          </th>
          <th [pSortableColumn]="'evento'">
            {{'campo.evento' | t}}
          </th>
          <th [pSortableColumn]="'valor'" class="text-end">
            {{'campo.valor' | t}}
          </th>
          <th [pSortableColumn]="'composicaoOperacao'">
            {{'campo.composicaoOperacao' | t}}
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-transacao>
        <tr>
          <td class="text-center">
            <alb-checkbox (change)="selecionado(transacao)" [value]="ds.selection.isSelected(transacao)">
            </alb-checkbox>
          </td>
          <td>
            <button alb-button-icon icon="remove_red_eye"(click)="visualizarTransacao(transacao)" pure *segFuncao="seg.DRT_LIS_BTN_VISUALIZAR" [track]="seg.DRT_LIS_BTN_VISUALIZAR"></button>
          </td>
          <td class="--text-warn">
            <i class="icon-disabled-c"></i>
            {{transacao.situacaoMensagem}}
          </td>
          <td class="text-center">{{transacao.dataReferencia | date: 'shortDate'}}</td>
          <td class="text-center">{{transacao.dataMovimento | dateTime}}</td>
          <td>{{transacao.evento}}</td>
          <td class="text-end">{{transacao.valor | valorFinanceiro}}</td>
          <td>{{transacao.composicaoOperacao}}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td colspan="8" class="text-center">
            {{'validacoes.nenhumaInformacao' | t}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</alb-body>
