alb-box {
  margin: 10px auto;
}

h3 {
  font-size: var(--font-size-body);
}

.configuracao__item {
  display: flex;
  align-items: center;
}

.configuracao__icon {
  margin-right: 20px;
}

.configuracao__content{
  width: 100%;
}

.configuracao__click {
  cursor: pointer;
}

.configuracao__invalid {
  color: var(--warn);
}
