<alb-body *segFuncao="seg.CME_MENU">
  <h1>{{'titulo.consultaMensagem' | t}}</h1>

  <alb-accordion icon="filter_list" [open]="true" [title]="'titulo.pesquisar' | t">

    <div class="grid-template-pesquisa-filtros">
      <form [formGroup]="filtroAvancadoForm" class="form">
        <div class="alb-divisor --three filter">
          <alb-datepicker placeholder="{{'campo.data' | t }}" formControlName="dataReferencia"></alb-datepicker>

          <app-mensagem-dropdown [placeholder]="'campo.codigo' | t"formControlName="idMensagem" [clearable]="true">
          </app-mensagem-dropdown>

          <alb-input formControlName="numeroUnicoOperacao" [placeholder]="'campo.numeroUnicoOperacao' | t"> </alb-input>

          <alb-input class="colspan-2" formControlName="mensagem" [placeholder]="'campo.mensagem' | t"></alb-input>

          <app-situacao-mensagem-dropdown formControlName="idSituacaoMensagem" [placeholder]="'campo.situacao' | t" [clearable]="true">
          </app-situacao-mensagem-dropdown>

          <app-entidade-dropdown [placeholder]="'campo.entidadeEmissora' | t" formControlName="idEntidadeParticipanteEmissor" [clearable]="true">
          </app-entidade-dropdown>

          <app-entidade-dropdown [placeholder]="'campo.entidadeDestinataria' | t" formControlName="idEntidadeParticipanteDestino" [clearable]="true">
          </app-entidade-dropdown>

          <alb-number formControlName="sequenciaMensagemTransacao" [length]="6"
            [placeholder]="'campo.numeroSequencia' | t">
          </alb-number>
        </div>
      </form>
      <div class="footer action-button">
        <button alb-button (click)="this.ds.filter()">{{'botao.pesquisar' | t }}</button>
      </div>
    </div>
  </alb-accordion>


  <div class="table">
    <p-table class="alb-table" [sq-data-source]="ds" rowHover="true" [scrollable]="true" [paginator]="true">
      <ng-template pTemplate="colgroup">
        <col class="sq-col-sm"> <!-- data e hora -->
        <col class="sq-col-sm"> <!-- codigo -->
        <col class="sq-col-sm"> <!-- numero unico operacao -->
        <col class="sq-col-md"> <!-- situacao -->
        <col class="sq-col-sm"> <!-- numero sequencia -->
        <col class="sq-col-md"> <!-- mensagem -->
        <col class="sq-col-sm"> <!-- entidade emissora -->
        <col class="sq-col-sm"> <!-- entidade destinatária -->
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>{{ 'campo.dataInclusao' | t }}</th>
          <th>{{ 'campo.codigo' | t }}</th>
          <th>{{ 'campo.numeroUnicoOperacao' | t }}</th>
          <th>{{ 'campo.situacao' | t }}</th>
          <th>{{ 'campoAbreviado.numeroSequencia' | t }}</th>
          <th>{{ 'campo.mensagem' | t }}</th>
          <th>{{ 'campo.entidadeEmissora' | t }}</th>
          <th>{{ 'campo.entidadeDestinataria' | t }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-mensagem>
        <tr (click)="onDetalhe(mensagem)">
          <td>{{mensagem.dataInclusao | dateTime}}</td>
          <td>{{mensagem.idMensagem}}</td>
          <td>{{mensagem.numeroUnicoOperacao}}</td>
          <td>{{mensagem.descricaoSituacaoMensagem}}</td>
          <td>{{mensagem.sequenciaTransacao}}</td>
          <td>{{mensagem.descricaoMensagem}}</td>
          <td>{{mensagem.entidadeEmissor}}</td>
          <td>{{mensagem.entidadeDestino}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8" class="text-center">{{ 'validacoes.nenhumaInformacao' | t }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</alb-body>
