.header {
  margin: 10px 10px 0px;
  grid-area: header;
}

.filter {
  grid-area: filter;
}

.footer {
  grid-area: footer;
  padding: 5px;
}

.item {
  margin: 5px;
  border: 1px solid var(--border);
}

.table {
  margin-top: 10px;
}

.colspan-2 {
  width: 66.6%;
}

.form {
  padding-left: 10px;
  padding-right: 10px;
}
